@import '@styles/variables'
@import '@styles/breakpoints'

.root
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  padding-top: 64px

.wrapper
  padding: 24px

.background
  position: fixed
  left: calc(50vw - 720px)
  top: 64px
  z-index: -1

@include media('>SDesktop')
  .root
    flex-direction: row
  .wrapper
    width: calc(100% - 200px)
    max-width: 1236px
    padding: 24px 32px 32px
    margin: 0 auto

@include media('>desktop')
  .background
    left: 0
    width: 100vw
    height: calc(100vw / 3.4)
    // preserve image aspect ratio

@include media('>LDesktop')
  .wrapper
    margin-top: 365px