.ukraineOutline
  height: 24px
  margin: -4px 0 -4px 10px

.contentWrapper
  display: flex
  align-items: center

.button
  max-width: 100%

.light
  &.button, &.button:hover, &.button:focus, &.button:active
    background: #EA2424

.dark
  &.button, &.button:hover, &.button:focus, &.button:active
    background: #EA2424
