@import "@styles/variables"
@import "@styles/breakpoints"

.mobile
  display: block

.notMobile
  display: none

.header
  padding: 0px 24px

.portfolio
  display: block

.portfolioCard
  flex: 1
  margin-top: 24px
  &:not(:last-child)
    margin-top: 0px
    margin-right: 0px

.h1
  margin-bottom: 40px
  margin-top: 64px
  display: none

.content
  display: grid
  align-items: center
  justify-items: stretch
  grid-template-columns: 1fr
  padding-top: 0

.card
  box-sizing: border-box

.tabContent
  padding: 0px 24px

.govCardInner
  margin: 24px

.governTabs
  width: auto
  margin-bottom: 0px !important
  margin-left: -24px
  margin-right: -24px
  overflow: hidden
  overflow-x: auto

.governTabs::-webkit-scrollbar-track
  border-radius: 10px
  background-color: transparent
.governTabs::-webkit-scrollbar
  width: 8px
  background-color: transparent
.governTabs::-webkit-scrollbar-thumb
  border-radius: 10px

.portfolioTabs
  margin-top: 24px
  margin-bottom: 24px

.light
  &:not(:last-child)
    border-bottom: 1px solid $ui-03

.dark
  &:not(:last-child)
    border-bottom: 1px solid $ui-06

@include media('>Lphone')
  .content
    grid-template-columns: repeat(2, 1fr)
    .card
      &:nth-last-child(2)
        border-bottom: none
  .light
    &:not(:nth-child(2n))
      border-right: 1px solid $ui-03
  .dark
    &:not(:nth-child(2n))
      border-right: 1px solid $ui-06

@include media('>tablet')
  .mobile
    display: none
  .notMobile
    display: block
  .portfolioTabs
    display: none

@include media('>Ltablet')
  .h1
    display: block
  .chart
    align-items: center
  .chartPad
    margin-left: 40px
  .portfolioCard
    flex: 1
    margin-top: 0px
    &:not(:last-child)
      margin-right: 32px
  .portfolio
    display: flex
  .content
    grid-template-columns: repeat(2, 1fr)
  .light
    border-right: 1px solid $ui-03
  .dark
    border-right: 1px solid $ui-06