@import "@styles/variables";
@import "@styles/breakpoints";

.header {
  display: flex;
  align-items: center;
}

.amount {
  font-size: 1.143rem;
  line-height: 1.5;
}

.item {
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.light {
  .amount {
    color: $text-01;
  }
}

.dark {
  .amount {
    color: $text-inverse;
  }
}

.dash {
  margin-top: 8px;
}

@include media('>Lphone') {
  .amount {
    font-size: 1.429rem;
  }
}

@include media('>desktop') {
  .amount {
    font-size: 1.714rem;
    line-height: 1.33;
  }
}
