@import '@styles/variables';
@import '@styles/breakpoints';

.cardRoot {
  margin-bottom: 64px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.poolCreateDescription {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  white-space: nowrap;
  margin-bottom: 16px;
}

.tvl, .createPool {
  width: 100%;
  padding: 24px;
}

.tvl {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tvlTitle {
  color: $text-03;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
}

.amount {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.createPool {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.button {
  max-width: 280px;
}

.light {
  &.poolCreateDescription {
    color: $text-01;
  }

  &.tvl {
    border-bottom: .5px solid $ui-03;
  }

  &.createPool {
    border-top: .5px solid $ui-03;
  }
}

.dark {
  &.poolCreateDescription {
    color: $text-inverse;
  }

  &.tvl {
    border-bottom: .5px solid $text-01;
  }

  &.createPool {
    border-top: .5px solid $text-01;
  }
}

@include media('>tablet') {
  .cardContent {
    flex-direction: row;
  }

  .tvl, .createPool {
    height: 160px;
  }

  .tvl {
    justify-content: center;
  }

  .amount {
    font-size: 32px;
    line-height: 48px;
  }

  .createPool {
    flex-direction: column;
    justify-content: center;
  }

  .button {
    max-width: 160px;
    margin-left: 24px;
  }

  .light {
    &.tvl {
      border-right: .5px solid $ui-03;
      border-bottom: none;
    }
  
    &.createPool {
      border-left: .5px solid $ui-03;
      border-top: none;
    }
  }
  
  .dark {
    &.tvl {
      border-right: .5px solid $text-01;
      border-bottom: none;
    }
  
    &.createPool {
      border-left: .5px solid $text-01;
      border-top: none;
    }
  }
}

@include media('>Ltablet') {
  .createPool {
    flex-direction: row;
  }

  .poolCreateDescription {
    margin-bottom: 0;
  }
}
