@import '@styles/breakpoints';

.root {
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.animation {
  margin: 10px;
}

.button {
  margin: 0 10px;
  width: 180px;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error {
  margin-top: -24px;
  text-align: center;
  font-size: 0.857rem;
  line-height: 1.33;
  padding-top: 8px;
  color: #EF0000;
}

@include media('>tablet') {
  .button {
  }
}
