@import '@styles/breakpoints';

.buttons {
  display: flex;
  justify-content: center;
}

.button {
  position: relative;
}

.icon {
  margin: 20px;
  width: 88px;
  height: 88px;
}

.selected {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 88px;
  height: 88px;
}

.error {
  margin-top: -24px;
  text-align: center;
  font-size: 0.857rem;
  line-height: 1.33;
  padding-top: 8px;
  color: #EF0000;
}

@include media('>tablet') {
  .icon {
    margin: 40px;
    width: 128px;
    height: 128px;
  }

  .selected {
    top: 40px;
    left: 40px;
    width: 128px;
    height: 128px;
  }
}
