@import "@styles/variables";
@import "@styles/breakpoints";

.root {
  display: flex;
  flex-direction: column;
  &.alignStart {
    align-items: flex-start;
  }
  &.alignEnd {
    align-items: flex-end;
  }
}
.amount {
  display: flex;
  align-items: center;
  column-gap: 4px;
  font-weight: 600;
  line-height: 1.14;
}

.dollarEquivalentOnly {
  font-size: 1rem !important;
  font-weight: 600 !important;
  line-height: 1.14 !important;
}

.currency {
  color: $text-03;
}
.inner {
  transition: color $colorChangeAnimationTime;
}
.isLeftCurrency {
  .inner {
    margin-right: 0;
    margin-left: 4px;
  }
}
.light {
  .inner {
    color: $text-01;
  }
}
.dark {
  .inner {
    color: $text-inverse;
  }
}

.large {
  font-size: 1.286rem;
  line-height: 1.33;
}

.extraLarge {
  font-size: 1.714rem;
  line-height: 1.33;
}

.small {
  font-size: 1rem;
}

.noSpace {
  column-gap: 0;
  .inner {
    margin-left: 0;
  }
}

@include media(">Ltablet") {
  .extraLarge {
    font-size: 1.857rem;
    line-height: 1.4;
  }
}

@include media(">desktop") {
  .extraLarge {
    font-size: 2.286rem;
    line-height: 1.5;
  }
}
