@import "@styles/variables"
@import "@styles/breakpoints"

.root
  display: flex
  flex-direction: column

.header
  font-weight: 600

.buttons
  display: flex
  margin-top: 8px

.button
  padding: 1px
  border-radius: 9px
  &:not(:last-child)
    margin-right: 8px

.buttonInner
  padding: 5px 15px
  display: flex
  align-items: center
  min-height: 25px
  font-size: 0.857rem
  line-height: 1
  border-radius: 8px
  font-weight: bold

.light
  .button
    background-color: $ui-03
    &.active
      background: $brand-01
  .buttonInner
    background-color: $ui-01
    color: $text-01

.dark
  .button
    background-color: $text-02
    &.active
      background: $brand-02
  .buttonInner
    background-color: $ui-07
    color: $text-inverse
