@import "@styles/variables";
@import "@styles/breakpoints";

.container {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.root {
  display: flex;
  position: relative;
}

.image {
  position: relative;
  object-fit: contain;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondImage {
  margin-left: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
