@import "../../../styles/_variables"
@import "../../../styles/_breakpoints"

.root
  position: relative
  overflow: hidden
  border-radius: 8px
  &::after
    content: ''
    position: absolute
    top: -100%
    left: -100px
    height: 300%
    width: 20%
    min-width: 40px
    transform: rotate(-30deg)
    animation: slide 3s ease-in-out infinite

.light
  background-color: #f4f5f8
  &::after
    background: linear-gradient(to right, rgba(#fff, 0) 0%, #fff 50%, rgba(#fff, 0) 100%)

.dark
  background-color: #232427
  &::after
    background: linear-gradient(to right, rgba(#000, 0) 0%, #000 50%, rgba(#000, 0) 100%)

@keyframes slide
  0%
    left: -50px
  65%
    left: calc(100% + 50px)
  100%
    left: calc(100% + 50px)
