@import '@styles/variables';

$dash-width: 6px;
$dash-height: 3px;
$column-gap: 1px;
$animation-duration: 0.8s;
$animation-smoothing: 0.5;
$max-dash-quantity: 8;

.light {
  --main-color: #{$text-01};
  --secondary-color: #{$text-03};
}

.dark {
  --main-color: #{$text-inverse};
  --secondary-color: #{$text-03};
}

@mixin dash-index-animation($index, $quantity) {
  .dash:nth-child(#{$index}) {
    animation-name: dash-animation;
    animation-duration: calc(var(--duration) * #{$quantity});
    animation-timing-function: linear;
    animation-delay: calc(var(--duration) * (#{$index} - 1) * var(--smoothing));
    animation-iteration-count: infinite;
  }
}


@mixin create-inline-loading-animation($quantity) {
  @for $i from 1 through $quantity {
    @include dash-index-animation($i, $quantity);
  }
}

.inline-loading {
  display: flex;
  column-gap: $column-gap;
  
  &.animation {
    --duration: #{$animation-duration};
    --smoothing: #{$animation-smoothing};

    @include create-inline-loading-animation($max-dash-quantity);
  }
}

.dash {
  width: $dash-width;
  height: $dash-height;
  background-color: var(--main-color);
}

@keyframes dash-animation {
  0% {
    background-color: var(--main-color);
  }
  12.5% {
    background-color: var(--secondary-color);
  }
  25% {
    background-color: var(--main-color);
  }
  100% {
    background-color: var(--main-color);
  }
}
