@import "@styles/variables"
  
.modal
  padding: 24px
  z-index: 99

.button
  max-width: 100%
  
.column
  display: flex
  flex-direction: column
  align-items: center

.title
  font-size: 18px
  font-weight: 600
  margin-bottom: 8px

.description
  text-align: center
  font-size: 16px
  font-weight: 400
  margin-bottom: 8px

.input
  margin-bottom: 8px

.learnMore
  font-size: 12px
  font-weight: normal

.light
  .title, .description
    color: $text-01

.dark
  .title, .description
    color: $text-inverse
  
.image
  width: 190px
  height: 128px
  margin-bottom: 16px
