@import "@styles/variables";
@import "@styles/breakpoints";

.terms {
  margin-bottom: 40px;
}
.def {
  display: block;
  font-size: 0.857rem;
  line-height: 1.33;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.defText {
  font-size: 0.857rem;
  line-height: 1.33;
}
.btn {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
}
.btnText {
  margin-left: 8px;
}
.button {
  display: block;
  &:not(:last-child) {
    margin-bottom: 24px;
  }
}
.modal {
  padding: 40px 24px 24px;
}
.button {
  .buttonInner {
    padding-left: 0;
    padding-right: 0;
  }
}
.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  margin-right: 8px;
}
@include media('>tablet') {
  .button {
    &:not(:last-child) {
      margin-right: 24px;
      margin-bottom: 0;
    }
  }
  .modal {
    padding-bottom: 40px;
  }
  .wallets {
    display: flex;
    align-items: center;
  }
}