#!important! ALWAYS SHOULD BE
GENERATE_SOURCEMAP=false


#########ithaca pord#####

# #modes depends
# #common
# REACT_APP_MAINNET_BASE_URL=
# REACT_APP_ITHACANET_BASE_URL=

# #network depends
# #network
# REACT_APP_NETWORK=ithacanet

# #explorer
# REACT_APP_TZKT_EXPLORER_URL=https://ithacanet.tzkt.io

# #node
# REACT_APP_RPC_URL=https://ithacanet.production.madservice.xyz

# #contracts
# REACT_APP_TTDEX_CONTRACT=KT1PnmpVWmA5CBUsA5ZAx1HoDW67mPYurAL5
# REACT_APP_FARMING_CONTRACT=KT1HXQcPhPtVWiU64X4WZG9dmRBhBAkAEfT1
# REACT_APP_COINFLIP_CONTRACT=KT1LYJif66XPDGgvUZdnmdyorjEYHkT9pTs5


# #network and mode depends
# #temple api
# REACT_APP_METADATA_API_URL=https://metadata.templewallet.com/metadata
# REACT_APP_POOLS_URL=wss://tezos-dexes-api-ithacanet.stage.madservice.xyz/
# #not production CHECK!

# #api
# REACT_APP_FARMING_API_URL=https://quipuswap-staking-api-ithacanet.production.madservice.xyz
# REACT_APP_STABLESWAP_API_URL=#there no value yet




#########ithaca stage#####

# #modes depends
# #common
# REACT_APP_MAINNET_BASE_URL=
# REACT_APP_ITHACANET_BASE_URL=


# #network depends
# #network
# REACT_APP_NETWORK=ithacanet

# #explorer
# REACT_APP_TZKT_EXPLORER_URL=https://ithacanet.tzkt.io

# #node
# REACT_APP_RPC_URL=https://ithacanet.production.madservice.xyz

# #contracts
# REACT_APP_TTDEX_CONTRACT=KT1PnmpVWmA5CBUsA5ZAx1HoDW67mPYurAL5
# REACT_APP_FARMING_CONTRACT=KT1HXQcPhPtVWiU64X4WZG9dmRBhBAkAEfT1
# REACT_APP_COINFLIP_CONTRACT=KT1LYJif66XPDGgvUZdnmdyorjEYHkT9pTs5


# #network and mode depends
# #temple api
# REACT_APP_METADATA_API_URL=https://metadata.templewallet.com/metadata
# REACT_APP_POOLS_URL=wss://tezos-dexes-api-ithacanet.stage.madservice.xyz/

# #api
# REACT_APP_FARMING_API_URL=https://quipuswap-staking-api-ithacanet.stage.madservice.xyz  
# REACT_APP_STABLESWAP_API_URL=https://quipuswap-stableswap-api-ithacanet.stage.madservice.xyz 



#########mainnet prod#####

# #modes depends
# #common
# REACT_APP_MAINNET_BASE_URL=
# REACT_APP_ITHACANET_BASE_URL=

# #network depends
# #network
# REACT_APP_NETWORK=mainnet

# #explorer
# REACT_APP_TZKT_EXPLORER_URL=https://tzkt.io

# #node
# REACT_APP_RPC_URL=https://mainnet-node.madfish.solutions

# #contracts
# REACT_APP_TTDEX_CONTRACT=KT1VNEzpf631BLsdPJjt2ZhgUitR392x6cSi
# REACT_APP_FARMING_CONTRACT=KT1RdoweZPFjttwMUsaTo1E2EWNX3WcR9nxZ
# REACT_APP_COINFLIP_CONTRACT=#there no value yet


# #network and mode depends
# #temple api
# REACT_APP_METADATA_API_URL=https://metadata.templewallet.com/metadata
# REACT_APP_POOLS_URL=wss://tezos-dexes-api-mainnet.production.madservice.xyz/

# #api
# REACT_APP_FARMING_API_URL=https://quipuswap-staking-api-mainnet.production.madservice.xyz
# REACT_APP_STABLESWAP_API_URL=#there no value yet




#########mainnet stage#####
# #modes depends
# #common
# REACT_APP_MAINNET_BASE_URL=
# REACT_APP_ITHACANET_BASE_URL=


# #network depends
# #network
# REACT_APP_NETWORK=mainnet

# #explorer
# REACT_APP_TZKT_EXPLORER_URL=https://tzkt.io

# #node
# REACT_APP_RPC_URL=https://mainnet-node.madfish.solutions

# #contracts
# REACT_APP_TTDEX_CONTRACT=KT1VNEzpf631BLsdPJjt2ZhgUitR392x6cSi
# REACT_APP_FARMING_CONTRACT=KT1RdoweZPFjttwMUsaTo1E2EWNX3WcR9nxZ
# REACT_APP_COINFLIP_CONTRACT=#there no value yet


# #network and mode depends
# #temple api
# REACT_APP_METADATA_API_URL=https://metadata.templewallet.com/metadata
# REACT_APP_POOLS_URL=wss://tezos-dexes-api-mainnet.production.madservice.xyz/
# #not stage CHECK!

# #api
# REACT_APP_FARMING_API_URL=https://quipuswap-staking-api-mainnet.production.madservice.xyz
# REACT_APP_STABLESWAP_API_URL=#there no value yet