@import "@styles/_variables"
@import "@styles/_breakpoints"

.table
  border-top-left-radius: 8px
  border-top-right-radius: 8px
  width: 100%
  position: relative

.card
  padding-top: 0px
  position: relative

.h1
  z-index: 5

.disabled, .disabledBg
  position: absolute
  top: 0px
  left: 0px
  right: 0px
  bottom: 0px
  opacity: 1
  display: flex
  align-items: center
  justify-content: center

.cell
  font-size: 1rem
  line-height: 1.5
  font-weight: 600

.root
  position: relative

.root
  .table
    border-collapse: collapse
    font-size: 1rem
    line-height: 1.7
    tr
      td
        border-bottom: none
    thead
      tr
        background-color: transparent
        th
          padding: 16px 24px 12px 24px
    tbody
      tr
        td
          padding: 16px 24px

.preloaderWrapper
  min-height: 973px
  display: flex
  justify-content: center
  flex-direction: column

.footer
  display: flex
  justify-content: center
  padding: 0px
  border-bottom-right-radius: 8px
  border-bottom-left-radius: 8px
  &.smallFooter
    min-height: initial
    height: 16px

.blue
  color: orange

.svgLink
  margin-left: 8px
  position: relative
  cursor: pointer

.sortingButton
  width: 100%

.alignLeft
  justify-content: flex-start
  padding-left: 16px

.nameWapper
  display: flex
  justify-content: space-between
  width: 100%

.pairsName
  position: relative
  top: 1px

.version
  margin-left: 16px

.pagination
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  padding: 12px 0
  font-size: 1rem

.page
  font-weight: 700

.paginationArrow
  cursor: pointer
  fill: $hover-primary-01
  transition: fill $animationTime

.arrowLeft, .arrowRight
  display: flex
  padding: 5px 10px
  &:hover
    .paginationArrow
      fill: $ui-01

  &
    fill: $hover-primary-02

  &
    fill: $ui-03
    cursor: not-allowed

.arrowLeft
  .paginationArrow
    transform: rotate(0deg)

.arrowRight
  .paginationArrow
    transform: rotate(180deg)

.mobileFooter
  display: flex
  justify-content: center
  width: 100%
  min-height: 49px
  margin: 0

.desktop
  display: none

.mobile
  display: block

.notMobile
  display: none

.light
  .disabledBg
    background: $skeleton-light
  .page
    color: $text-01
  .cell
    color: $text-03
  .table, .footer, &.footer
    background-color: $ui-01
  .table
    tr
      td
        border-top: 1px solid $ui-03
        color: $text-01

.dark
  .disabledBg
    background: $skeleton-dark
  .page
    color: $text-inverse
  .cell
    color: $text-02
  .table, .footer, &.footer
    background-color: $ui-07
  .table
    tr
      td
        border-top: 1px solid $text-01
        color: $text-inverse

@include media('>tablet')
  .root
    .table
      border-collapse: collapse
      font-size: 0.875rem

@include media('>tablet')
  .desktop
    display: flex
  .mobileFooter
    display: none
  .preloaderWrapper
    min-height: 475px
  .mobile
    display: none
  .notMobile
    display: block

@include media('>Ltablet')
  .pools
    .row
      grid-template-columns: 1.1fr 1fr 1fr 1fr
