.ukraineOutline {
  height: 24px;
  margin: -4px 0 -4px 10px;
}
.button {
  display: grid;
  max-width: 100%;
  > span {
    > span {
      display: flex;
    }
  }
}
.light {
  &.button,
  &.button:hover,
  &.button:focus,
  &.button:active {
    background: #EA2424;
  }
}
.dark {
  &.button,
  &.button:hover,
  &.button:focus,
  &.button:active {
    background: #EA2424;
  }
}
