@import "@styles/breakpoints"
@import "@styles/variables"

.root
  height: 385px
  border-radius: 8px
  position: relative
  overflow: hidden
  box-shadow: $elevation-02
  transition: background-color $colorChangeAnimationTime

.light
  background-color: $ui-01

.dark
  background-color: $ui-07