@import "@styles/breakpoints";
@import "@styles/variables";

.mb48 {
  margin-bottom: 48px;
}

.warningAlert {
  margin-bottom: 24px;
}

.list {
  display: grid;
  row-gap: 32px;
}

.positionFeesSkeleton {
  width: 100%;
  height: 372px;
}

@include media('>=tablet') {
  .positionFeesSkeleton {
    height: 328px;
  }
}

@include media('>=Ltablet') {
  .positionFeesSkeleton {
    height: 180px;
  }
}

.listSkeleton {
  width: 100%;
  height: 378px;
}

@include media('>phone') {
  .listSkeleton {
    height: 298px;
  }
}

@include media('>Lphone') {
  .listSkeleton {
    height: 218px;
  }
}

@include media('>Ltablet') {
  .listSkeleton {
    height: 164px;
  }
}

@include media('>SDesktop') {
  .warningAlert {
    margin-bottom: 32px;
  }
}
