@import '@styles/variables'
@import '@styles/breakpoints'

.container
  padding-top: 0
  padding-bottom: 12px
  position: relative

.chart
  min-height: 300px

.info
  font-weight: 600
  line-height: 1.14
  margin-bottom: 12px
  padding: 8px 24px
  display: flex
  flex-wrap: wrap

.header, .date
  margin-top: 0
  font-weight: 500
  line-height: 1.6
  font-size: 0.714rem
  color: $text-03

.date
  margin-left: auto

.value
  margin-left: 8px
  font-size: 1.286rem
  line-height: 1.33
  font-weight: 600
  width: 100%

.dollar
  color: $text-03

.chart
  margin-right: 16px
  margin-left: 24px

.light
  .value
    color: $text-01
  &.info
    color: $text-01
    border-bottom: 1px solid $ui-03

.dark
  .value
    color: $text-inverse
  &.info
    color: $text-inverse
    border-bottom: 1px solid $ui-06

@include media('>phone')
  .header, .date
    font-size: 0.857rem

@include media('>tablet')
  .info
    align-items: center
    padding: 12px 24px
  .header
    font-size: 1.286rem
    line-height: 1.33
    margin-right: 8px
  .value
    width: auto
  .date
    order: 2