@import "@styles/breakpoints";
@import "@styles/variables";

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown,
.description {
  font-weight: 600;
}

.description {
  font-size: 1rem;
  line-height: 1.143;
}

.amountClassName,
.periodClassName {
  font-size: 1.143rem;
  line-height: 1.5;
}

.periodClassName {
  opacity: 0.32;
}

.light {
  color: $ui-01;

  .amountClassName,
  .periodClassName {
    color: $ui-01;
  }
}

.dark {
  color: $ui-07;

  .amountClassName,
  .periodClassName {
    color: $ui-07;
  }
}

@include media('>Lphone') {
  .amountClassName,
  .periodClassName {
    font-size: 1.714rem;
  }
}
