@import "styles/_variables";
@import "styles/_breakpoints";

.dot {
  border-radius: 2px;
  width: 24px;
  height: 4px;
}

.root {
  padding-top: 22px;
  :global(.slick-track) {
    display: flex;
  }

  :global(.slick-dots) {
    position: static;
    display: flex !important;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 8px;
    height: 4px;
  }

  :global(.slick-dots li) {
    height: 4px;
    width: 24px;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  :global(.customSelect__control) {
    background: inherit;
  }
}

.light {
  :global(.slick-active) {
    .dot {
      background-color: $ui-05
    }
  }

  .dot {
    background-color: $ui-04
  }

  :global(.customSelect__single-value) {
    color: $hover-primary-01-fallback
  }
}

.dark {
  :global(.slick-active){
    .dot {
      background-color: $text-02;
    }
  }

  .dot {
    background-color: $text-01;
  }

  :global(.customSelect__single-value) {
    color: $hover-primary-02-fallback
  }
}

@include media('>Ltablet') {
  .root {
    padding-top: 24px;
    padding-bottom: 24px;

    :global(.slick-slide) {
      position: relative;
  
      &:first-child::after {
        display: none;
      }
  
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: -24px;
        height: 104px;
        width: 1px;
        background-color: $text-01;
      }
    }
  }
}
