@import "@styles/_variables";
@import "@styles/_breakpoints";

.dot {
  border-radius: 2px;
  width: 24px;
  height: 4px;
}

.margin1cards,
.margin2cards,
.margin3cards,
.margin4cards {
  height: 214px;
}

.margin4cards {
  margin: 0 -1.25% 0 0;
}

.margin3cards {
  margin: 0 -1.65% 0 0;
}

.margin2cards {
  margin: 0 -2.5% 0 0;
}

.margin1cards {
  margin: 0 -5% 0 0;
}

.root {
  overflow: hidden;


  :global(.slick-track) {
    display: flex;
  }

  :global(.slick-dots) {
    position: static;
    display: flex !important;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 8px;
    height: 4px;
  }

  :global(.slick-dots li) {
    height: 4px;
    width: 24px;
    margin-right: 4px;

    &:last-child {
      margin-right: 0;
    }
  }

  :global(.customSelect__control) {
    background: inherit;
  }

  :global(.slick-slide) {
    display: flex;
    justify-content: center;

    & > div {
      width: 100%;
    }
  }
}

.light {
  :global(.slick-slide) {
    &::after {
      background-color: $ui-03;
    }
  }

  :global(.slick-active) {
    .dot {
      background-color: $ui-05
    }
  }

  .dot {
    background-color: $ui-04
  }

  :global(.customSelect__single-value) {
    color: $hover-primary-01-fallback
  }
}

.dark {
  :global(.slick-slide) {
    &::after {
      background-color: $text-01;
    }
  }

  :global(.slick-active){
    .dot {
      background-color: $text-02;
    }
  }

  .dot {
    background-color: $text-01;
  }

  :global(.customSelect__single-value) {
    color: $hover-primary-02-fallback
  }
}

@include media('>Ltablet') {
  .root {
    :global(.slick-slide) {
      position: relative;

      &:first-child::after {
        display: none;
      }
    }
  }
}
