@import "@styles/variables";

.container {
  padding: 1px;
  width: fit-content;
  border-radius: 8px;
  white-space: nowrap;
}

.status {
  display: block;

  padding: 4px 8px;

  font-size: 12px;
  font-weight: bold;

  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: $support-info;
  background: inherit;
}

.filled {
  border-color: $text-03;
  color: $text-inverse;
}

.active .filled {
  border-color: $text-03;
  background: $brand-01;
  color: $text-inverse;
}

.pending .filled {
  background: $brand-02;
}

.disabled .filled {
  background: $ui-05;
}
