@import "@styles/_variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 8px;
}

.title {
  display: flex;
  align-items: center;
  
  font-size: 1.143rem;
  font-weight: 600;
  line-height: 1.5;
  color: $text-03;
}

.currencyAmount {
  font-size: 1.286rem;
  line-height: 1.333;
}
