@import "@styles/variables"

.root
  display: flex
  flex-direction: column

.link
  display: flex
  align-items: center
  padding: 0 16px
  height: 40px
  width: 100%
  position: relative
  font-weight: 600
  transition: background-color $animationTime
  &:not(:last-child)
    margin-bottom: 8px
  &:not(.active)
    .icon
      defs
        display: none
      path
        stroke: $text-03
  &.active
    &::before
     content: ''
     width: 4px
     height: 36px
     position: absolute
     left: 0
     top: 2px

.icon
  margin-right: 8px

.light
  color: $text-01
  &:not(.active)
    &:hover
      background-color: $hover-light-row
  &.active
    &::before
      background: $hover-primary-01

.dark
  color: $text-inverse
  &:not(.active)
    &:hover
      background-color: $hover-dark-row
  &.active
    &::before
      background: $hover-primary-02