@import '@styles/variables'
@import '@styles/breakpoints'

.container
  padding: 16px 16px 12px 24px
  position: relative
  display: flex
  justify-content: center

.pieChart
  width: 256px
  height: 128px

.chart
  width: 256px
  height: 184px
  position: relative
  display: flex
  flex-direction: column
  justify-content: flex-end

.result
  display: flex
  align-items: center
  width: 100%
  flex-direction: column
  position: absolute
  bottom: 0px

.h2
  font-weight: bold

.for, .notfor
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  position: absolute
  font-weight: 700
  font-size: 0.857rem
  line-height: 1.33
  top: 0

.for
  left: 0px

.notfor
  right: 0px

.label
  font-size: 0.857rem
  font-weight: bold
  color: $text-03

.light
  .count
    color: $text-01

.dark
  .count
    color: $text-inverse