@import "@styles/variables"
@import "@styles/breakpoints"

.root
  display: flex
  font-weight: 600
  line-height: 1.14

.divider
  margin: 0 8px

.light
  .route
    color: $hover-primary-01-fallback
    background: $brand-01
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.dark
  .route
    color: $hover-primary-02-fallback
    background: $brand-02
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
