@import "@styles/variables"
@import "@styles/breakpoints"

.bageBorder
  border-radius: 9px
  padding: 1px

.bage
  font-weight: bold
  font-size: 0.857rem
  border-radius: 8px
  padding: 3px 7px

.light 
  &.primary
    background: $brand-01
    .bage
      background-color: $ui-02
      color: $text-02
  &.inverse
    background: $brand-02
    .bage
      background-color: $ui-02
      color: $text-02


.dark
  &.primary
    background: $brand-02
    .bage
      background-color: $ui-06
      color: $text-03
  &.inverse
    background: $brand-01
    .bage
      background-color: $ui-06
      color: $text-03