@import "@styles/variables"
@import "@styles/breakpoints"

.bageBorder
  border-radius: 9px
  padding: 1px

.bage
  font-weight: bold
  font-size: 0.857rem
  border-radius: 8px
  padding: 3px 7px
  &.loading
    padding: 0px

.light 
  background: $brand-01
  .bage
    background-color: $ui-02
    color: $text-02


.dark
  background: $brand-02
  .bage
    background-color: $ui-06
    color: $text-03

