@import '@styles/variables'
@import '@styles/breakpoints'

.container
  padding: 16px 16px 12px 24px
  position: relative

.chart
  min-height: 300px

.info
  font-weight: 600
  line-height: 1.14
  margin-bottom: 12px

.caption
  margin-bottom: 4px

.token
  font-size: 2.286rem
  line-height: 1.5
  margin-bottom: 4px

.dollar
  color: $support-success
  margin-bottom: 4px

.date
  font-size: 0.857rem
  font-weight: 400

.light
  .token
    color: $text-01

.dark
  .token
    color: $text-inverse

@include media('>tablet')
  .info
    position: absolute
    top: 16px
    left: 24px
    bottom: 38px
    margin-bottom: 0
    z-index: 3
    pointer-events: none
    &::before
      content: ''
      height: 100%
      width: 500px
      position: absolute
      top: 0
      left: 0
      z-index: -1
  .light
    &::before
      background: linear-gradient(270deg, rgba($ui-01, 0) 0%, $ui-01 100%)
  .dark
    &::before
      background: linear-gradient(270deg, rgba($ui-07, 0) 0%, $ui-07 100%)