@import "@styles/variables"
@import "@styles/breakpoints"

.captionText
  font-family: $font
  font-weight: 600
  font-size: 0.857rem
  line-height: 1.33
  color: $text-03

.caption
  font-family: $font
  font-style: normal
  font-weight: normal
  font-size: 0.857rem
  line-height: 1.33
  color: $text-03
  display: flex
  align-items: center
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  max-width: 100%

.bakerName
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

.tokenBody
  max-width: calc(100% - 32px)

.listItem
  position: relative
  padding: 12px 24px
  transition: background-color $animationTime

.splitRow
  display: flex
  justify-content: space-between

.joinRow
  display: flex

.centerRow
  align-items: center

.centerLabel 
  margin: 0 8px

.clickable 
  cursor: pointer
  user-select: none

.mleft8 
  margin-left: 8px

.mleft24 
  margin-left: 24px

.bage
  margin-left: 8px
  white-space: nowrap

.tokenCell
  display: flex
  align-items: center
  justify-content: space-between

.tokenCellChild
  &:not(:first-child)
    margin-left: 8px

.swapFrom
  margin: 8px 0

.bakerCell
  flex: 1
  display: flex
  flex-direction: column
  align-items: flex-start

.bakerFlexCell 
  display: flex
  align-items: center
  &:not(:last-child)
    margin-bottom: 8px

.voteFlexCell
  margin-top: 8px
  display: flex
  align-items: center
  &:not(:last-child)
    margin-bottom: 8px

.h6
  margin-left: 8px

.bakerBlock 
  display: block
  &:not(:last-child)
    margin-right: 24px

.positionBlockCell
  max-height: 32px
  display: flex
  align-items: center
  margin-bottom: 8px

.tokenGroup
  display: flex

.tokenItem:last-child
  margin-left: -8px

.bodyTextLink1
  font-weight: bold

.label1 
  font-style: normal
  font-weight: 600
  font-size: 1rem
  line-height: 1.33

.swapLabel
  color: $text-02
  
.swapLink
  position: relative
  font-weight: 600
  cursor: pointer
  &::after
    position: absolute
    content: ''
    height: 1px
    bottom: 1px
    left: 0
    width: 100%

.light
  &:not(:last-child)
    border-bottom: 1px solid $ui-03
  &.hover:hover, &.hover:focus
     background-color: $hover-light-row
  .label1
    color: $hover-dark-row
  .swapLink
    color: $hover-primary-01-fallback
    background: $hover-primary-01
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    &::after
      background: $hover-primary-01

.dark
  &:not(:last-child)
    border-bottom: 1px solid $ui-06
  &.hover:hover, &.hover:focus
    background-color: $hover-dark-row
  .label1
    color: $text-inverse
  .swapLink
    color: $hover-primary-02-fallback
    background: $hover-primary-02
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    &::after
      background: $hover-primary-02

.loading:hover
  background-color: transparent


.loading
  .loadingLogo
    width: 24px
    height: 24px
    border-radius: 50%

  .loadingName
    margin-bottom: 2px

  .loadingNameBaker
    margin-left: 8px

  .loadingName, .loadingSymbol, .loadingCaption
    height: 16px
    width: 200px
    &::after
      animation-delay: 200ms

  .caption, .loadingCaption
    width: 100px
    &:not(:last-child)
      margin-bottom: 4px

  .loadingCaptionSmall
    width: 56px

  .loadingBakerBlock 
    display: flex
    flex-direction: column
    &:not(:last-child)
      margin-right: 24px

  .loadingBage
    margin-left: 8px
    height: 24px
    width: 52px
    &::after
      animation-delay: 400ms
      transform: rotate(-25deg)