@import "@styles/variables"
@import "@styles/breakpoints"

  
// SKELETON

.loading svg
  display: none

.loadingBage
  margin-left: 8px
//   display: none

.loadingName
  margin-bottom: 2px
  
// SKELETON

.caption
  font-family: $font
  font-style: normal
  font-weight: normal
  font-size: 0.857rem
  line-height: 1.33
  color: $text-03

.listItem
  position: relative
  padding: 12px 24px
  transition: background-color $animationTime

.splitRow
  display: flex
  justify-content: space-between

.joinRow
  display: flex

.centerRow
  align-items: center

.centerLabel 
  margin: 0 8px

.clickable 
  cursor: pointer
  user-select: none

.mleft8 
  margin-left: 8px

.mleft24 
  margin-left: 24px

.bage
  margin-left: 8px

.tokenCell
  display: flex
  align-items: center
  justify-content: space-between

.tokenCellChild
  &:not(:first-child)
    margin-left: 8px

.swapFrom
  margin: 8px 0

.bakerCell
  flex: 1
  display: flex
  flex-direction: column
  align-items: flex-start

.bakerFlexCell 
  display: flex
  align-items: center
  &:not(:last-child)
    margin-bottom: 8px

.h6
  margin-left: 8px

.bakerBlock 
  display: block
  &:not(:last-child)
    margin-right: 24px

.positionBlockCell
  max-height: 32px
  display: flex
  align-items: center
  margin-bottom: 8px

.tokenGroup
  display: flex

.tokenItem:last-child
  margin-left: -8px

.bodyTextLink1
  font-weight: bold

.label1 
  font-style: normal
  font-weight: 600
  font-size: 1rem
  line-height: 1.33

.swapLabel
  color: $text-02
  
.swapLink
  position: relative
  font-weight: 600
  cursor: pointer
  &::after
    position: absolute
    content: ''
    height: 1px
    bottom: 1px
    left: 0
    width: 100%

.light
  .loadingLogos, .loadingName, .loadingSymbol, .loadingBage
    background-image: $skeleton-light
    background-color: $hover-light-row
    background-repeat: no-repeat
    animation: loading 3s infinite
  .loadingLogos 
    width: 24px
    height: 24px
    border-radius: 12px
    background-size: 100px
  .loadingName, .loadingSymbol 
    height: 16px
    width: 200px
    border-radius: 8px
    background-size: 400px
  .loadingBage
    height: 16px
    width: 40px
    border-radius: 8px
    background-size: 100px

  &:not(:last-child)
    border-bottom: 1px solid $ui-03
  &:hover
     background-color: $hover-light-row
  .label1
    color: $hover-dark-row
  .swapLink
    color: $hover-primary-01-fallback
    background: $hover-primary-01
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    &::after
      background: $hover-primary-01

.dark
  .loadingLogos, .loadingName, .loadingSymbol, .loadingBage
    background-image: $skeleton-dark
    background-color: $hover-dark-row
    background-repeat: no-repeat
    animation: loading 3s infinite
  .loadingLogos
    width: 24px
    height: 24px
    border-radius: 12px
    background-size: 100px
  .loadingName, .loadingSymbol 
    height: 16px
    width: 200px
    border-radius: 8px
    background-size: 400px
  .loadingBage
    height: 16px
    width: 40px
    border-radius: 8px
    background-size: 100px

  &:not(:last-child)
    border-bottom: 1px solid $ui-06
  &:hover
    background-color: $hover-dark-row
  .label1
    color: $text-inverse
  .swapLink
    color: $hover-primary-02-fallback
    background: $hover-primary-02
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    &::after
      background: $hover-primary-02

@keyframes loading 
  0% 
    background-position: 150% 0%
  75%
    background-position: -150% 0, 0 0
  100%
    background-position: -150% 0, 0 0