@import '@styles/_variables';

.root {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
}
.root {
  :global(.customSelect__control) {
    min-height: 24px;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    border: none;
    border-radius: 9px;
  }
  :global(.customSelect__value-container) {
    min-height: 24px;
    max-width: 100%;
    border-radius: 8px;
    margin: 0;
    padding: 0;
    transition: background-color $colorChangeAnimationTime;
  }
  :global(.customSelect__single-value) {
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding-left: 24px;
    margin-left: 0;
    margin-right: 0;
    line-height: 24px;
    text-align: left;
    font-weight: 600;
    transition: color $colorChangeAnimationTime;
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
      border-right: 5px solid transparent;
      border-bottom: 0 solid transparent;
      border-left: 5px solid transparent;
      transition: transform $animationTime, border-color $colorChangeAnimationTime;
    }
  }
  :global(.customSelect__control--menu-is-open) {
    :global(.customSelect__single-value) {
      &::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
  :global(.customSelect__option) {
    background-color: transparent;
    transition: background-color $colorChangeAnimationTime;
    padding: 8px 16px;
    cursor: pointer;
    color: $text-02;
  }
  :global(.customSelect__menu) {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 8px;
    box-shadow: $elevation-03;
  }
  :global(.customSelect__menu-list) {
    padding-top: 0;
    padding-bottom: 0;
  }
  :global(.customSelect__indicators) {
    display: none;
  }
}
.light {
  :global(.customSelect__control) {
    background: $brand-01;
  }
  :global(.customSelect__value-container) {
    background-color: $ui-01;
  }
  :global(.customSelect__single-value) {
    color: $text-01;
    &::after {
      border-top: 5px solid $hover-primary-01-fallback; // COLOR;
    }
  }
  :global(.customSelect__option--is-selected) {
    color: $hover-primary-01-fallback;
    background: $hover-primary-01;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  :global(.customSelect__menu) {
    background-color: $ui-01;
    &:hover {
      :global(.customSelect__option--is-focused) {
        background-color: $hover-light-row;
        color: $text-01;
      }
    }
  }
}
.dark {
  :global(.customSelect__control) {
    background: $brand-02;
  }
  :global(.customSelect__value-container) {
    background-color: $ui-07;
  }
  :global(.customSelect__single-value) {
    color: $text-inverse;
    &::after {
      border-top: 5px solid $hover-primary-02-fallback;
    }
  }
  :global(.customSelect__option--is-selected) {
    color: $hover-primary-02-fallback;
    background: $hover-primary-02;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  :global(.customSelect__menu) {
    background-color: $ui-07;
    &:hover {
      :global(.customSelect__option--is-focused) {
        background-color: $hover-dark-row;
        color: $text-inverse;
      }
    }
  }
}