@import "@styles/_variables";
@import "@styles/_breakpoints";
 
.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header {
  display: flex;
  align-items: center;
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 0.857rem;
  line-height: 1.33;
  color: $text-03 !important;
}

@include media('>Lphone', '<=tablet') {
  .root {
    flex-direction: row;
    justify-content: space-between;
  }
}

@include media('>Ltablet') {
  .root {
    flex-direction: row;
    justify-content: space-between;
  }
}
