@import "@styles/variables"
@import "@styles/breakpoints"
  
.cardCellSmall
  width: 100%
  padding: 12px 20px

.paginationPage
  font-weight: bold
  color: $text-01
  margin: 0px 4px

.pagination
  font-weight: 600
  display: flex
  margin: 0px 16px

.forward
  transform: rotate(180deg)

.footer
  display: flex
  align-items: center
  justify-content: center