@import '@styles/variables'

.root
  display: flex
  justify-content: center
  align-items: center

.name
  display: flex
  align-items: center
  justify-content: space-between
  flex: 1
  width: 100%
  margin-left: 8px
  font-weight: 600
  white-space: nowrap
  letter-spacing: 0.75px

.light
  color: $text-01

.dark
  color: $text-inverse