@import "@styles/variables"
@import "@styles/breakpoints"

.overlay
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: 100
  background: $gradient-mint-50
  cursor: pointer
  display: flex
  align-items: flex-start
  justify-content: center
  max-height: 100vh
  overflow-y: auto

.portal
  position: relative
  transition: none
  opacity: 1
  z-index: 100

.root
  outline: none
  height: 100%
  width: 100%

.wrapper
  display: flex
  justify-content: center
  align-items: center
  min-height: 100%
  padding: 10px 16px
  box-sizing: border-box

.container
  width: 100%
  padding: 8px
  position: relative
  background: rgba($white, .3)	
  border: 1px solid $green
  border-radius: 4px
  &.primary
    max-width: 516px
    border: 1px solid $red
  &.secondary
    //max-width: 298px
    max-width: 606px

.inner
  position: relative
  padding: 48px
  cursor: default
  border-radius: 4px
  font-size: 1.25rem
  line-height: 1.2
  display: flex
  flex-direction: column
  align-items: center
  box-sizing: content-box
  text-align: center

.primary
  .inner
    background-color: $purple-middle
    color: $white
  .closeButton
    svg
      path
        fill: $white

.secondary
  .inner
    color: $purple-text
    background-color: $green			

.closeButton
  margin-left: auto
  margin-bottom: 30px

@include media('<=Lphone')
  .inner
    padding: 24px 16px 32px

@include media('<=420px')    
  .inner
    padding: 16px


