@import "@styles/variables"
@import "@styles/breakpoints"

.caption
  font-family: $font
  font-style: normal
  font-weight: normal
  font-size: 0.75rem
  line-height: 1.33
  color: $text-03


.overlay
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: 100
  cursor: pointer
  display: flex
  align-items: flex-start
  justify-content: center
  max-height: 100vh
  overflow-y: auto

.portal
  position: relative
  transition: none
  opacity: 1
  z-index: 100

.root
  outline: none
  height: 100%
  width: 100%

.wrapper
  display: flex
  justify-content: center
  align-items: center
  min-height: 100%
  padding: 10px 16px
  box-sizing: border-box
  cursor: default

.container
  width: 100%
  padding: 8px
  position: relative
  background: transparent
  border-radius: 4px
  max-width: 400px

.inner
  position: relative
  box-shadow: $elevation-03
  border-radius: 8px
  position: relative
  cursor: default
  display: flex
  flex-direction: column
  align-items: center
  box-sizing: content-box


.listItem 
  position: relative
  min-height: 64px
  padding: 12px 24px
  &:last-child
    border: none

.splitRow
  display: flex
  justify-content: space-between

.joinRow
  display: flex

.centerRow
  align-items: center

.centerLabel 
  margin: 0px 8px

.clickable 
  cursor: pointer
  user-select: none

.mleft8 
  margin-left: 8px

.mleft24 
  margin-left: 8px

.bage 
  margin-left: 8px

.tokenCell
  display: flex
  align-items: center
  justify-content: space-between
  &>.tokenCellChild
    margin-left: 8px
  &>.tokenCellChild:first-child
    margin: 0px

.swapFrom
  margin: 8px 0px

.bakerCell
  flex: 1
  display: flex
  flex-direction: column
  align-items: flex-start

.bakerFlexCell 
  display: flex
  align-items: center
  .h6
    margin-left: 8px
  &:not(last-child)
    margin-bottom: 8px

.bakerBlock 
  display: block
  &:not(last-child)
    margin-right: 24px

.positionBlockCell
  max-height: 32px
  display: flex
  align-items: center
  .h6 
    margin-left: 8px
  
.tokenGroup
  &>svg:last-child
    margin-left: -16px

.bodyTextLink1
  font-weight: bold

.label1 
  font-style: normal
  font-weight: 600
  font-size: 0.75rem
  line-height: 1.33

.swapLabel
  color: $text-02
  
.swapLink
  position: relative
  font-weight: 600
  cursor: pointer

.swapLink:after
  position: absolute
  content: ''
  height: 1px
  bottom: -1px
  left: 0px
  width: 100%

.light
  &.overlay
    background-color: rgba(7, 12, 18, 0.12)
  .inner
    background-color: $ui-01
  &.listItem
    border-bottom: 1px solid $ui-03
  &.listItem:hover
     background-color: $hover-light-row
  .label1
    color: $hover-dark-row
  .swapLink:after
    background: $hover-primary-01
  .swapLink
    background: $hover-primary-01
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.dark
  &.overlay
    background-color: rgba(255,255,255, 0.12)
  .inner
    background-color: $ui-06
  &.listItem
    border-bottom: 1px solid $ui-06
  &.listItem:hover
    background-color: $hover-dark-row
  .label1
    color: $text-inverse
  .swapLink:before
    
    background: $hover-primary-02
  .swapLink
    background: $hover-primary-02
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent