@import "@styles/variables"
@import "@styles/breakpoints"

.overlay
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  z-index: 100
  cursor: pointer
  display: flex
  align-items: flex-start
  justify-content: center
  max-height: 100vh
  overflow-y: auto

.portal
  position: relative
  transition: none
  opacity: 1
  z-index: 100

.root
  outline: none
  height: 100%
  width: 100%

.wrapper
  display: flex
  justify-content: center
  align-items: center
  min-height: 100%
  padding: 10px 16px
  box-sizing: border-box
  cursor: default

.closeButton
  display: flex
  justify-content: center
  align-items: center

.container
  width: 100%
  position: relative
  background: transparent
  border-radius: 4px
  max-width: 327px

.modalCard
  max-height: calc(100vh - 288px)
  overflow-y: scroll
  overflow-x: hidden

.light
  background-color: rgba($ui-07, 0.12)

.dark
  background-color: rgba($ui-01, 0.12)

@include media('>tablet')
  .container
    max-width: 424px

@include media('>SDesktop')
  .modalCard
    overflow-y: scroll
  .modalCard::-webkit-scrollbar-track
    border-radius: 10px
    background-color: transparent
  .modalCard::-webkit-scrollbar
    width: 8px
    background-color: transparent
  .modalCard::-webkit-scrollbar-thumb
    border-radius: 10px
    background-color: $hover-dark-row
  .light 
    .modalCard::-webkit-scrollbar-thumb
      background-color: $hover-light-row