@import '@styles/variables'
@import '@styles/breakpoints'

.container
  padding-top: 0
  padding-bottom: 12px
  position: relative

.chart
  min-height: 300px

.info
  margin-bottom: 12px
  padding: 8px 24px
  display: flex
  flex-direction: column
  align-items: flex-start

.prices
  font-weight: 600
  font-size: 1.286rem
  line-height: 1.33
  display: flex

.dollarPrice
  margin-left: 16px
  color: $support-success
  &.down
    color: $support-error

.details
  display: flex
  flex-direction: column
  margin-top: 8px

.column
  display: flex

.item
  min-width: 100px
  font-weight: 500
  line-height: 1.6
  font-size: 0.714rem

.label
  text-transform: uppercase
  margin-right: 8px

.chart
  margin-right: 16px
  margin-left: 24px

.light
  .tokenPrice
    color: $text-01
  &.info
    color: $text-01
    border-bottom: 1px solid $ui-03
  .label
    color: $text-03
  .value
    color: $text-01

.dark
  .tokenPrice
    color: $text-inverse
  &.info
    color: $text-inverse
    border-bottom: 1px solid $ui-06
  .label
    color: $text-02
  .value
    color: $text-inverse

@include media('>phone')
  .prices
    font-size: 2rem
  .item
    font-size: 0.857rem

@include media('>Lphone')
  .info
    flex-direction: row
    justify-content: space-between
    align-items: center
  .details
    flex-direction: row
    margin-right: 0
  .column
    flex-direction: column
    &:not(:last-of-type)
      margin-right: 16px
  .item
    min-width: 70px

@include media('>tablet')
  .info
    padding: 12px 24px