// Font
$font: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif



// Colors
// Brand
$brand-01: linear-gradient(98deg, #5C1EE0 0%, #1373E4 100%)
$brand-02: linear-gradient(98deg, #FF6B00 0%, #F9A605 100%)

// Text
$text-01: #232735
$text-02: #505565
$text-03: #8B90A0
$text-inverse: #FFFFFF

// Surface
$ui-01: #FFFFFF
$ui-02: #FAFAFC
$ui-03: #F0F1F3
$ui-04: #D3D4D8
$ui-05: #A1A4B1
$ui-06: #14171E
$ui-07: #070C12

// Hover states
$hover-primary-01: linear-gradient(98deg, #4513D5 0%, #0C64CB 100%)
$hover-primary-02: linear-gradient(98deg, #E15F01 0%, #E99A01 100%)
$hover-primary-01-fallback: #3749E2
$hover-primary-02-fallback: #FC8A03
$hover-light-row: #F4F5F8
$hover-dark-row: #232427

// Support
$support-success: #0ECD21
$support-error: #EF0000



// Elevation
$elevation-02: 0px 1px 2px rgba(0, 0, 0, 0.1)
$elevation-03: 0px 4px 8px rgba(0, 0, 0, 0.1)
$elevation-04: 0px 6px 12px rgba(0, 0, 0, 0.1)
$elevation-05: 0px 8px 16px rgba(0, 0, 0, 0.1)
$elevation-06: 0px 10px 24px rgba(0, 0, 0, 0.1)



// Timing
$animationTime: .25s
$colorChangeAnimationTime: .15s