@import "@styles/variables"
@import "@styles/breakpoints"

.header
  padding-top: 0
  padding-bottom: 0

.tabs
  margin-bottom: -1px

.content
  padding: 40px 24px 24px
  display: flex
  flex-direction: column

.mb24
    margin-bottom: 24px

.iconButton
  margin: 11px auto

.receive
  margin-top: 16px

.receiveLabel
  margin-right: 8px
  font-size: 0.857rem

.button
  margin-top: 40px

.cell
  &:not(:last-child)
    margin-bottom: 16px

.cellAmount
  display: flex
  justify-content: flex-start
  align-items: flex-start

.equal
  margin: 0 8px

.detailsButton
  display: flex
  align-items: center
  margin-left: auto
  margin-top: 32px

.detailsButtons
  display: flex
  flex-direction: column
  align-items: flex-end
  margin-top: 32px
  margin-left: auto
  .detailsButton
    margin-left: 0
    margin-top: 0
    &:not(:first-child)
      margin-top: 16px

.linkIcon
  margin-left: 8px

.switcher
  display: flex
  align-items: center
  font-weight: 600

.switcherInput
  margin-right: 8px

.buttons
  display: flex
  flex-direction: column
  margin-top: 40px
  .button
    margin-top: 0
    margin-left: 0
    width: 100%
    max-width: 280px
    &:not(:last-child)
      margin-bottom: 16px

@include media('>Lphone', '<=tablet')
  .buttons
    flex-direction: row
    justify-content: flex-end
    .button
      max-width: 180px
      &:not(:last-child)
        margin-bottom: 0
        margin-right: 24px
  .detailsButtons
    flex-direction: row
    .detailsButton
      &:not(:first-child)
        margin-top: 0
        margin-left: 32px

@include media('>Ltablet')
  .button
    margin-left: auto
    width: 180px
  .buttons
    flex-direction: row
    justify-content: flex-end
    .button
      max-width: 180px
      &:not(:last-child)
        margin-bottom: 0
        margin-right: 24px

@include media('>1060px')
  .detailsButtons
    flex-direction: row
    .detailsButton
      &:not(:first-child)
        margin-top: 0
        margin-left: 32px