@import "@styles/variables"

html,
body
  padding: 0
  margin: 0
  line-height: 1.25
  font-size: 14px
  font-family: $font
  min-width: 320px

svg, path, rect
  transition: stroke $colorChangeAnimationTime, fill $colorChangeAnimationTime

body
  background-color: $ui-02
  color: $text-03
  transition: background-color $colorChangeAnimationTime, color $colorChangeAnimationTime
  &.dark
    background-color: $ui-06
    h1, h2, h3, h4, h5, h6
      color: $text-inverse

*
  box-sizing: border-box

h1, h2, h3, h4, h5, h6, p, a, span, strong, button
  transition: color $colorChangeAnimationTime

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6
  color: $text-01
  font-style: normal
  font-weight: 600

h1
  font-size: 3.143rem
  line-height: 1.45

h2
  font-size: 2.286rem
  line-height: 1.5

h3
  font-size: 1.714rem
  line-height: 1.33

h4
  font-size: 1.286rem
  line-height: 1.33

h5
  font-size: 1.143rem
  line-height: 1.5

h6
  font-style: normal
  font-size: 1rem
  line-height: 1.71

caption
  font-style: normal
  font-weight: normal
  font-size: 0.75rem
  line-height: 1.33

a
  color: inherit
  text-decoration: none
  cursor: pointer
  outline: none

button
  padding: 0
  margin: 0
  background-color: transparent
  box-shadow: none
  outline: none
  border: none
  cursor: pointer
  &:disabled
    cursor: not-allowed

ul, ol
  list-style: none
  padding: 0
  margin: 0