@import "@styles/variables"

html,
body
  padding: 0
  margin: 0
  line-height: 1.25
  font-size: 14px
  font-family: $font
  min-width: 320px

svg, path, rect
  transition: stroke $colorChangeAnimationTime, fill $colorChangeAnimationTime

body
  background-color: $ui-02
  color: $text-03
  transition: background-color $colorChangeAnimationTime, color $colorChangeAnimationTime
  &.dark
    background-color: $ui-06
    h1, h2, h3, h4, h5, h6
      color: $text-inverse

*
  box-sizing: border-box

h1, h2, h3, h4, h5, h6, p, a, span, strong, button
  transition: color $colorChangeAnimationTime

h1, h2, h3, h4, h5, h6, p
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6
  color: $text-01

h1
  font-style: normal
  font-weight: 600
  font-size: 44px
  line-height: 64px

h2
  font-style: normal
  font-weight: 600
  font-size: 32px
  line-height: 48px

h3
  font-style: normal
  font-weight: 600
  font-size: 24px
  line-height: 32px

h4
  font-style: normal
  font-weight: 600
  font-size: 18px
  line-height: 24px

h5
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 24px

h6
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 24px

caption
  font-style: normal
  font-weight: normal
  font-size: 12px
  line-height: 16px

a
  color: inherit
  text-decoration: none
  cursor: pointer
  outline: none

button
  padding: 0
  margin: 0
  background-color: transparent
  box-shadow: none
  outline: none
  border: none
  cursor: pointer
  &:disabled
    cursor: not-allowed

ul, ol
  list-style: none
  padding: 0
  margin: 0