@import "@styles/variables"
@import "@styles/breakpoints"

.content
  padding: 72px 24px 88px 24px

.mt40
  margin-top: 40px

.mb24
  margin-bottom: 24px

.smol, .big
  margin-bottom: 8px

.ol
  list-style: decimal
  padding-left: 20px

.ul
  list-style: inherit
  padding-left: 20px

.big
  font-size: 1.143rem
  line-height: 1.5

.smol
  font-size: 1rem
  line-height: 1.5

.light
  .list
    color: $text-01
  .big, .smol, .ul
    color: $text-02

.dark
  .list
    color: $text-inverse
  .big, .smol, .ul
    color: $text-03
