@import '@styles/variables'
@import '@styles/breakpoints'

.root
  display: flex
  position: relative

.image
  position: relative
  object-fit: contain
  border-radius: 50%
  height: 24px
  width: 24px

.secondImage
  margin-left: -8px
  display: flex
  justify-content: center
  align-items: center