@import '@styles/variables';
@import '@styles/breakpoints';

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
  width: 100%;
  max-width: 432px;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
}

.titleWrapper {
  display: flex;
}

.title {
  color: $text-03;
  font-size: 12px;
}

.description {
  font-size: 14px;
  font-weight: 400;
}

.amount > :nth-child(n) {
  font-size: 16px;
}

.statesOfCurrencysAmount {
  display: flex;
}

.fullRewards {
  display: inline-block;
}

.light {
  &.root {
    border: 2px dashed $hover-primary-01-fallback;
    color: $text-01;
  }
}

.dark {
  &.root {
    border: 2px dashed $hover-primary-02-fallback;
    color: $text-inverse;
  }
}

@include media('>tablet') {
  .title {
    font-size: 14px;
  }

  .root {
    margin-bottom: 0;
  }

  .amount > :nth-child(n) {
    font-size: 32px;
  }

  .description {
    font-size: 24px;
    font-weight: 600;
  }
}
