@import '@styles/variables'
@import '@styles/breakpoints'

.notificationContainer
  position: fixed
  left: 24px
  width: calc(100% - 48px)
  min-width: calc(100% - 48px)
  transform: none
  padding: 0
  top: 88px

.notification
  margin-bottom: 24px
  width: 100%
  position: relative
  display: flex
  align-items: center
  font-size: 16px
  padding: 8px
  box-shadow: $elevation-06
  border-radius: 8px

.toastBody
  padding: 12px 56px 12px 48px
  display: flex
  align-items: center
  border-radius: 4px
  line-height: 1.72

.icon
  position: absolute
  top: 22px
  display: flex
  align-items: center
  left: 16px

.closeButton
  position: absolute
  top: 22px
  display: flex
  align-items: center
  right: 16px

.light
  .notification
    color: $text-inverse
    background: $ui-07
.dark
  .notification
    color: $text-01
    background: $ui-01

@include media(">SDesktop")
  .notificationContainer
    left: 232px
    right: 32px
    transform: none
    width: initial
    min-width: initial
    max-width: 1172px

@include media(">desktop")
  .notificationContainer
    margin: 0px auto
