@import '@styles/variables'
@import '@styles/breakpoints'

.notificationContainer
  position: fixed
  width: 1016px
  min-width: 1016px
  padding: 0
  top: 88px

.notification
  margin-bottom: 24px
  width: 100%
  position: relative
  display: flex
  align-items: center
  font-size: 16px
  padding: 8px
  box-shadow: $elevation-06
  border-radius: 8px
  //background: rgba($white, .3)
  &.success
    color: $support-success
    //border: 1px solid $green
    .toastBody
      //background-color: $green
  &.error
    // border: 1px solid $burgundy
    color: $support-error
    .toastBody
      //background-color: $burgundy

.toastBody
  text-align: center
  padding: 16px 56px
  border-radius: 4px

.closeButton
  padding: 8px
  position: absolute
  top: 50%
  right: 22px
  transform: translateY(-50%)

.light
  .notification
    color: $text-inverse
    background: $ui-07
.dark
  .notification
    color: $text-01
    background: $ui-01

@include media("<=1560px")
  .notificationContainer
    width: 1016px
    min-width: 1016px
@include media("<=desktop")
  .notificationContainer
    width: 900px
    min-width: 900px
@include media('<=1080px')
  .notificationContainer
    width: calc(100% - 32px)
    min-width: calc(100% - 32px)
