@import "../../../styles/_variables";
//TODO
.root {
  display: flex;
  position: relative;
}

.stripe {
  position: absolute;
  bottom: 0;
  transform: translateX(0);
  transition: transform $animationTime, width $animationTime;
  height: 2px;
}

.item {
  padding: 12px 8px;
  min-width: 40px;
  cursor: pointer;
  z-index: 1;
  font-weight: 600;
  line-height: 1.7;
  color: $text-03;
  font-size: 1rem;
}

.light {
  .active {
    .inner {
      color: $hover-primary-01-fallback;
      background: $brand-01;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .stripe {
    background: $brand-01;
  }
}

.dark {
  .active {
    .inner {
      color: $hover-primary-02-fallback;
      background: $brand-02;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .stripe {
    background: $brand-02;
  }
}
