@import '@styles/variables';
@import '@styles/breakpoints';

.reward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
  width: 100%;
  max-width: 432px;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-direction: column;
}

.title,
.amount {
  font-weight: 600;
}

.title {
  font-size: 1rem;
  line-height: 1.143;
}

.titleWrapper {
  display: flex;
}

.amount {
  font-size: 1.143rem;
  line-height: 1.5;
}

.statesOfCurrencysAmount {
  display: flex;
}

.fullRewards {
  display: inline-block;
}

.slash {
  margin: 0 4px;
}

.bigSlash {
  margin: 0 4px;
  font-size: 16px;
  color: $text-03;
}

.light {
  &.reward {
    border: 2px dashed $hover-primary-01-fallback;
    color: $text-01;
  }

  .title {
    color: $text-02;
  }
}

.dark {
  &.reward {
    border: 2px dashed $hover-primary-02-fallback;
    color: $text-inverse;
  }

  .title {
    color: $text-03;
  }
}

@include media('>SDesktop') {
  .reward {
    margin-bottom: 0;
  }

  .amount {
    max-width: 208px;
    font-size: 1.714rem;
  }

  .bigSlash {
    font-size: 24px;
  }
}
