@import "@styles/variables"
@import "@styles/breakpoints"

.wrapper
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 5

.root
  width: 100%
  height: 64px
  border-bottom: 1px solid $ui-03
  background-color: $ui-02
  z-index: 2
  &.dark
    background-color: $ui-06
    border-bottom: 1px solid $ui-07
    .logo
      color: $ui-01

.container
  flex-direction: row
  justify-content: space-between
  align-items: center

.logoText
  display: none

.leftpart
  display: flex
  flex-direction: row
  
.logo
  display: flex
  align-items: center
  color: $ui-07
  font-size: 1.125rem
  font-weight: bold

.links, .buttonLaunch, .coloModeSwitcher
  display: none

.languageSwitcher
  display: none

.connect
  display: flex
  align-items: center
  justify-content: center
  width: 153px
  margin: 0 16px

.menu
  position: absolute
  top: 0
  left: 0
  z-index: -1
  transform: translateY(-100%)
  transition: transform $animationTime
  &.active
    transform: translateY(0)

@include media('>tablet')
  .menuButton, .menu
    display: none
  .content
    display: flex
    align-items: center
  .logoText
    display: block
  .connect
    display: none
  .links, .coloModeSwitcher
    display: flex
    white-space: nowrap
  .link
    padding: 24px
  .coloModeSwitcher
    margin-left: 40px
  .languageSwitcher
    display: flex