@import "@styles/breakpoints"
@import "@styles/variables"

.titleLoader
  display: flex
  align-items: center
  height: 3.429rem

@include media('>SDesktop')
  .titleLoader
    height: 4.573rem
  .rewardInfo
    margin-bottom: 32px
  .rewardHeader
    font-size: 1rem

.backArrow
  transform: rotate(90deg)
  margin-right: 0

.rewardHeader
  font-size: 1rem
  justify-content: flex-start
  align-items: center

.arrowButton
  margin-right: 0

.statsValueText
  font-size: 1.143rem
  line-height: 1.5

.light
  .delegate
    background: $brand-01
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.dark
  .delegate
    background: $brand-02
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

@include media('>Lphone')
  .statsValueText
    font-size: 1.429rem

@include media('>desktop')
  .statsValueText
    font-size: 1.714rem
    line-height: 1.33
