.youtube {
  position: relative;
  padding-top: 56.25%; /* 9 / 16 * 100% */
  max-width: 100%;
}

.youtubeFrame {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  & > iframe {
    max-width: 100%;
    max-height: 100%;
  }
}
