@import "@styles/_variables";
@import "@styles/_breakpoints";

.filterCard {
  display: flex !important;
  justify-content: space-between !important;
  align-items: flex-start !important;
  flex-direction: column !important;
  gap: 24px !important;
  flex-wrap: wrap !important;

  * {
    order: 4;
  }

  .sorterView {
    order: 1;
    flex: 0 !important;
  }
  
  .leftSide {
    order: 2;
  }
  
  .rightSide {
    order: 3;
  }
}

@include media('>Ltablet') {
  .filterCard {
    flex-direction: row !important;
    align-items: center !important;

    .leftSide {
      order: 5;
    }
  
    .rightSide {
      order: 4;
    }
  }
}
