@import "@styles/breakpoints";
@import "@styles/variables";

.content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}

.title {
  font-size: 1.286rem;
  line-height: 1.33;
  margin-top: 24px;
}

.description {
  margin-top: 16px;
  margin-bottom: 40px;
  line-height: 1.71;
}

.button {
  margin-top: auto;
}

.icon {
  margin: 0 auto;
}

@include media('>422px', '<=660px') {
  .icon {
    margin-left: 0;
  }
}

@include media('>Lphone') {
  .title {
    font-size: 1.857rem;
    line-height: 1.4;
  }
}

@include media('>812px') {
  .icon {
    margin-left: 0;
  }
}

@include media('>Ltablet') {
  .button {
    max-width: 180px;
    margin-left: auto;
  }
}

@include media('>desktop') {
  .title {
    font-size: 2.286rem;
    line-height: 1.5;
  }

  .description {
    font-size: 1.143rem;
    line-height: 1.62;
  }
}