@import "@styles/variables"
@import "@styles/breakpoints"

.pageTitle
  margin: 24px 0
  font-size: 2.286rem
  font-weight: 600
  line-height: 1.5

.light
  .pageTitle
    color: $text-01

.dark
  .pageTitle
    color: $text-inverse

@include media('>SDesktop')
  .pageTitle
    margin: 32px 0
    font-size: 3.143rem
    font-weight: 600
    line-height: 1.455
