@import "@styles/variables";
@import "@styles/text";

@mixin details-rules-item($color, $accent) {
  .liTitle {
    display: flex;
    column-gap: 8px;
  }

  .accent {
    font-weight: bold;
    @include background-text-color($accent);
  }
}

.light {
  @include details-rules-item($text-01, $brand-01);
}

.dark {
  @include details-rules-item($text-inverse, $brand-02);
}
