@import '@styles/breakpoints';

.dashboardCard > :nth-child(1) {
  font-size: 14px;
}

.dashboardCard > :nth-child(2) {
  font-size: 14px;
}

.game {
  margin-top: 24px;
}

@include media('>Lphone') {
  .dashboardCard > :nth-child(1) {
    font-size: 16px;
  }

  .dashboardCard > :nth-child(2) {
    font-size: 18px;
  }

  .game {
    width: 50%;
  }
}
