@import '@styles/breakpoints';

.dashboardCard > :nth-child(n) {
  font-size: 14px;
}

@include media('>Lphone') {
  .dashboardCard > :nth-child(1) {
    font-size: 16px;
  }

  .dashboardCard > :nth-child(2) {
    font-size: 18px;
  }
}
