@import "@styles/variables"
@import "@styles/breakpoints"

.modal
  padding: 24px
  padding-top: 40px
  display: flex
  flex-direction: column
  

.input
  &:not(:last-child)
    margin-bottom: 40px

.button
  max-width: 180px
  margin-top: 24px
  align-self: flex-end