@import "@styles/variables"
@import "@styles/breakpoints"

.root
  position: relative

.wrapper
  min-width: auto
  width: 100%

.input
  -webkit-appearance: textfield
  -moz-appearance: textfield
  appearance: textfield
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

.buttons
  position: absolute
  display: flex
  flex-direction: column
  top: 0px
  height: 40px
  right: 16px
  justify-content: center

.button
  display: flex
  justify-content: center
  align-items: center

.icon
  width: 16px
  height: auto