@import "@styles/variables"
@import "@styles/breakpoints"
  
.label 
  display: inline-block
  font-weight: 600
  line-height: 1.14
  color: $text-03
  margin-bottom: 8px

.caption
  font-size: 0.857rem
  line-height: 1.33
  color: $text-03

.label2
  font-weight: bold
  font-size: 0.857rem
  line-height: 1.33
  color: $text-03

.shape
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  box-sizing: border-box
  border-radius: 8px
  padding: 15px

.tokenGroup
  display: flex
  align-items: center
  margin-right: -8px
  z-index: 1

.item1
  order: 2
.item2
  display: flex
  margin: 8px 0px
  order: 3
  flex-basis: 100%
.item2Block
  margin: 8px 0px
  order: 3
  flex-basis: 100%
.item3
  order: 4
  flex-grow: 0
  flex-basis: 100%
.item4
  display: flex
  align-items: center
  order: 1

.item2Line
  display: flex
  align-items: center

.token
  margin-left: 8px

.btn
  position: relative
  font-weight: 600
  cursor: pointer
  &::after
    position: absolute
    content: ''
    height: 1px
    bottom: 1px
    left: 0
    width: 100%
  &:not(:last-child)
    margin-right: 24px

.input, .output
  min-width: 10px
  background: transparent
  outline: none
  border: none
  font-family: $font
  font-style: normal
  font-weight: 600
  font-size: 1.714rem
  line-height: 1.33

.controls 
  margin-left: 16px
  display: flex
  align-items: center
  margin-top: 8px

.price
  margin-left: 8px

.background
  padding: 1px
  border-radius: 9px

.error
  .background
    background: $support-error !important
  .errorContainer
    max-height: 22px

.errorContainer
  max-height: 0
  overflow: hidden
  transition: max-height $animationTime

.errorLabel
  font-size: 0.857rem
  line-height: 1.33
  padding-top: 8px
  display: inline-block
  color: $support-error

.light
  .btn
    color: $hover-primary-01-fallback
    background: $hover-primary-01
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  .input, .price
    color: $text-01
    caret-color: $hover-primary-01-fallback
  .background
    background: $ui-03
  .shape
    background: $ui-02
  &.focused .background
    background: $brand-01

.dark
  .btn
    color: $hover-primary-02-fallback
    background: $hover-primary-02
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  .input, .price
    color: $text-inverse
    caret-color: $hover-primary-02-fallback
  .background
    background: $text-02
  .shape
    background: $ui-06
  &.focused .background
    background: $brand-02

@include media('>tablet')
  .item2Line
    justify-content: flex-end
  .shape
    justify-content: space-between
  .item1
    order: 1
    flex-basis: 50%
  .item2
    margin: 0px
    order: 2
    width: max-content
    display: flex
    justify-content: flex-end
    flex-basis: 50%
    flex-grow: 1
  .item2Block
    margin: 0px
    order: 2
    width: max-content
    flex-basis: 50%
    flex-grow: 1
  .item3
    margin-top: 8px
    order: 3
    flex-grow: 1
    flex-basis: 50%
  .item4
    margin-top: 8px
    display: flex
    align-items: center
    justify-content: flex-end
    order: 4
    flex-basis: 50%
  .btn
    &:not(:last-child)
      margin-right: 8px
