@import "@styles/variables"
@import "@styles/breakpoints"
  
.baker
  display: flex
  align-items: center

.label 
  display: inline-block
  font-weight: 600
  line-height: 1.14
  color: $text-03
  margin-bottom: 8px

.caption
  font-size: 0.857rem
  line-height: 1.33
  color: $text-03

.label2
  font-weight: bold
  font-size: 0.857rem
  line-height: 1.33
  color: $text-03

.shape
  position: relative
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  box-sizing: border-box
  border-radius: 8px
  padding: 15px

.tokenGroup
  display: flex
  align-items: center
  margin-right: -8px
  z-index: 1


.item1
  order: 2
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  line-height: 24px
.item2
  margin: 8px 0
  order: 3
  flex-basis: 100%
.item3
  order: 4
  flex-grow: 0
  flex-basis: 100%
.item4
  display: flex
  align-items: center
  order: 1
  &:disabled:hover
    cursor: default

.item2Line
  display: flex
  align-items: center
.pasteWrap
  position: absolute
  bottom: 24px
  right: 16px

.token
  margin-left: 8px
  line-height: 1

.btn
  position: relative
  cursor: pointer
  &:not(:last-child)
    margin-right: 16px

.input
  min-width: 10px
  background: transparent
  outline: none
  border: none
  font-family: $font
  font-style: normal
  font-weight: 600
  font-size: 1.714rem
  line-height: 1.33

.controls 
  margin-left: 16px
  display: flex
  align-items: center
  margin-top: 8px

.price
  margin-left: 8px

.background
  padding: 1px
  border-radius: 9px

.error
  .background
    background: $support-error !important
  .errorContainer
    max-height: 22px

.errorContainer
  max-height: 0
  overflow: hidden
  transition: max-height $animationTime

.errorLabel
  font-size: 0.857rem
  line-height: 1.33
  padding-top: 8px
  display: inline-block
  color: $support-error

.light
  &:not(.readOnly)
    .input
      caret-color: $hover-primary-01-fallback
    &.focused .background
      background: $brand-01
  .background
    background: $ui-03
  .shape
    background: $ui-02
  .paste
    color: $hover-primary-01-fallback
    background: $hover-primary-01
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  .input, .price
    color: $text-01

.dark
  &:not(.readOnly)
    .input
      caret-color: $hover-primary-02-fallback
    &.focused .background
      background: $brand-02
  .background
    background: $text-02
  .shape
    background: $ui-06
  .paste
    color: $hover-primary-02-fallback
    background: $hover-primary-02
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  .input, .price
    color: $text-inverse

.readOnly
  .input
    color: $text-03

.recipient
  height: fit-content
  min-height: 48px
  resize: none
  font-size: 1.143rem
  font-weight: normal
  line-height: 1.4
  flex: 1
  white-space: normal
  overflow: unset !important

@include media('>tablet')
  .item2Line
    justify-content: flex-end
  .shape
    justify-content: space-between
  .item1
    order: 1
    flex-grow: 1
    flex-basis: 50%
    overflow: hidden
    line-height: unset
  .item2
    margin: 0
    order: 2
    flex-grow: 1
    margin-left: 32px
    flex-basis: unset
  .item3
    margin-top: 8px
    order: 3
    flex-grow: 1
    flex-basis: 40%
  .item4
    margin-top: 8px
    display: flex
    align-items: center
    justify-content: flex-end
    order: 4
    flex-basis: content
    margin-left: 32px
  .recipient
    min-height: 26px
    line-height: 1.4
  .btn
    &:not(:last-child)
      margin-right: 8px