@import "@styles/variables"
@import "@styles/breakpoints"
  
.label 
  font-weight: 600
  line-height: 1.14
  color: $text-03
  margin-bottom: 8px

.caption
  font-size: 0.857rem
  line-height: 1.33
  color: $text-03

.label2
  font-weight: bold
  font-size: 0.857rem
  line-height: 1.33
  color: $text-03

.shape
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  box-sizing: border-box
  border-radius: 8px
  padding: 16px

.item1
  order: 2
.item2
  margin: 8px 0px
  order: 3
  display: flex
  flex-basis: 100%
.item3
  order: 4
  flex-grow: 0
  flex-basis: 100%
.item4
  display: flex
  align-items: center
  order: 1

.token
  margin-left: 8px

.btn
  position: relative
  font-weight: 600
  cursor: pointer
  &::after
    position: absolute
    content: ''
    height: 1px
    bottom: 1px
    left: 0
    width: 100%
  &:not(:last-child)
    margin-right: 24px

.input, .output
  min-width: 10px
  background: transparent
  outline: none
  border: none
  font-family: $font
  font-style: normal
  font-weight: 600
  font-size: 1.714rem
  line-height: 1.33

.controls 
  margin-left: 16px
  display: flex
  align-items: center
  margin-top: 8px

.price
  margin-left: 8px

.light
  .btn
    color: $hover-primary-01-fallback
    background: $hover-primary-01
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  .input, .price
    color: $text-01
  .shape
    background: $ui-02
    border: 1px solid $ui-03

.dark
  .btn
    color: $hover-primary-02-fallback
    background: $hover-primary-02
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  .input, .price
    color: $text-inverse
  .shape
    background: $ui-06
    border: 1px solid $text-02

@include media('>tablet')
  .shape
    justify-content: space-between
  .item1
    order: 1
    flex-basis: 50%
  .item2
    margin: 0px
    order: 2
    width: max-content
    display: flex
    justify-content: flex-end
    flex-basis: 50%
    flex-grow: 1
  .item3
    margin-top: 8px
    order: 3
    flex-grow: 1
    flex-basis: 50%
  .item4
    margin-top: 8px
    display: flex
    align-items: center
    justify-content: flex-end
    order: 4
    flex-basis: 50%
  .btn
    &:not(:last-child)
      margin-right: 8px
