@import "@styles/_variables";

.root {
  padding: 12px 16px;
  border-radius: 8px;
  box-shadow: $elevation-06;
}

.disabled {
  color: $support-error;
  border: 1px solid $support-error;
}

.pending {
  color: $support-warning;
  border: 1px solid $support-warning;
}
