@import "@styles/variables"
@import "@styles/breakpoints"

.root
  display: flex
  align-items: center
  padding: 1px
  border-radius: 9px
  &>.inputBase
    flex: 1

.adornment
  display: flex
  align-items: center
  justify-content: center

.start
  margin-right: 4px

.end
  margin-left: 4px

.inputBase
  display: flex
  align-items: center
  padding: 8px 16px
  border-radius: 8px
  &>.input
    flex: 1

.small
  .inputBase
    padding: 6px 0px
    .input
      width: 78px
      display: flex
      text-align: center
      justify-content: center
      align-items: center
      font-weight: bold
  
.input
  box-sizing: border-box
  font-family: $font
  font-style: normal
  font-weight: normal
  font-size: 1rem
  line-height: 1.71
  display: flex
  align-items: center
  outline: none
  background: transparent
  border: none

.label1
  font-family: $font
  font-style: normal
  font-weight: 600
  font-size: 1rem
  line-height: 1.33

.errorLabel
  margin-top: 8px
  color: $support-error

.caption
  font-family: $font
  font-style: normal
  font-weight: normal
  font-size: 0.857rem
  line-height: 1.33

.label
  margin-bottom: 8px

.light
  .label1
    color: $text-01
  .inputBase
    background: $ui-01
  .input
    color: $text-01
  .disabled
    .inputBase
      background: $ui-04
    .input
      color: $text-03
  .root
    background: $ui-04
  .active
    background: $brand-01
  &.small
    .inputBase
      .input
        &::placeholder 
          color: $text-01

.dark
  .label1
    color: $text-inverse
  .inputBase
    background: $ui-06
  .input
    color: $text-inverse
  .disabled
    .inputBase
      background: $ui-04
    .input
      color: $ui-05
  .root
    background: $text-02
  .active
    background: $brand-02
  .inputError
    font-weight: 700
  &.small
    .inputBase
      .input
        &::placeholder 
          color: $text-inverse

.error 
  background: $support-error !important