@import "@styles/variables"
@import "@styles/breakpoints"

.root
  display: flex
  align-items: center
  padding: 1px
  border-radius: 9px
  transition: background-color $animationTime, color $animationTime
  .inputBase
    flex: 1

.adornment
  display: flex
  align-items: center
  justify-content: center

.start
  margin-right: 4px

.end
  margin-left: 4px

.inputBase
  display: flex
  align-items: center
  padding: 7px 15px
  border-radius: 8px
  transition: background-color $animationTime, color $animationTime
  .input
    flex: 1

.pad .inputBase
  padding: 7px 15px

.small
  .input
    box-sizing: border-box
    font-family: $font
    font-style: normal
    font-weight: bold
    font-size: 1rem
    outline: none
    background: transparent
    border: none
    width: 78px
    text-align: center
  .inputBase
    padding: 5px 0px

.medium .input
  box-sizing: border-box
  font-family: $font
  font-style: normal
  font-weight: normal
  font-size: 1rem
  outline: none
  background: transparent
  border: none

.label1
  font-family: $font
  font-style: normal
  font-weight: 600
  font-size: 1rem
  line-height: 1.33
  margin-bottom: 8px

.errorLabel
  font-family: $font
  font-style: normal
  font-weight: normal
  font-size: 0.857rem
  line-height: 1.33
  padding-top: 8px
  color: $support-error

.errorContainer
  max-height: 0
  transition: max-height $animationTime

.light
  .label1
    color: $text-01
  .inputBase
    background: $ui-01
  .input:placeholder
    color: $text-03
  .input
    color: $text-01
  .disabled
    .inputBase
      background: $ui-04
    .input
      color: $text-03
  .root
    background: $ui-04
  &.focused .root
    background: $brand-01
  &.small .input::placeholder 
      color: $text-01

.dark
  .label1
    color: $text-inverse
  .inputBase
    background: $ui-06
  .input:placeholder
    color: $text-03
  .input
    color: $text-inverse
  .disabled
    .inputBase
      background: $ui-04
    .input
      color: $ui-05
  .root
    background: $text-02
  &.focused .root
    background: $brand-02
  .inputError
    font-weight: 700
  &.small .input::placeholder 
      color: $text-inverse

.error
  .root 
    background: $support-error !important
  .errorContainer
    max-height: 22px