@import "@styles/variables"
@import "@styles/breakpoints"

.logo
  display: flex
  align-items: center
  font-size: 1.125rem
  font-weight: bold

.logoImg
  max-height: 40px
  width: auto
  display: block

.logoText
  display: none

@include media('>phone')
  .logoImg
    display: none
  .logoText
    display: block

@include media('>SDesktop')
  .logo
    margin-right: auto