@import "@styles/variables"
@import "@styles/breakpoints"

.logo
  display: flex
  align-items: center
  font-size: 1.125rem
  font-weight: bold

.logoText
  display: none

@include media('>SDesktop')
  .logo
    margin-right: auto
  .logoText
    display: block
    font-size: 1.286rem
    transition: color $colorChangeAnimationTime
  .light
    .logoText
      color: $ui-07
  .dark
    .logoText
      color: $ui-01