@import '@styles/variables';

.table {
  width: 100%;
  border-collapse: collapse;
}

.token {
  text-align: left;
  padding: 12px 0 16px 24px;
}

.amount {
  text-align: right;
  padding: 12px 24px;
  width: 100px;
  & > div {
    margin-left: auto;
  }
}

.light {
  border-top: 1px solid $ui-03;
}

.dark {
  border-top: 1px solid $text-01;
}

.header {
  border-top: none;
}
