@import "@styles/variables";
@import "@styles/breakpoints";

.card {
  margin-bottom: 48px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 16px;
  flex-wrap: wrap;
  padding: 24px;
}

.p0 {
  padding: 0;
}
.pb0 {
  padding-bottom: 0;
}

.childrenContainer {
  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 16px;
}

.userInfoContainer {
  min-height: 132px;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  flex-direction: column;
  row-gap: 40px;
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.order3 {
  order: 3;
}

.viewDetailsButton {
  align-self: flex-end;

  display: flex;
  align-items: center;
  column-gap: 14px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}

.button {
  width: 160px;
}

.details {
  margin-top: 40px;
}

@include media(">phone") {
  .button {
    width: 160px;
  }
}

@include media(">SDesktop") {
  .userRewards {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto;
  }

  .infoContainer {
    display: flex;
    column-gap: 32px;
  }
}

@include media(">Lphone") {
  .button {
    align-self: end;
  }
}

@include media("<tablet") {
  .paddingRewards {
    max-width: auto;
  }
  .userInfoContainer {
    min-height: auto;
    width: 100%;
  }

  .viewDetailsButton{
    align-self: center;
  }

  .button {
    width: 100%;
  }
}
