@import "@styles/variables";

.filterCard {
  margin-bottom: 32px;

  overflow: visible;
}

.filterCardContent {
  padding: 16px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.searchInput {
  width: 100%;
  max-width: 320px;
}

.switcherContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
  flex: 1;
  span {
    color: $ui-03;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}

.flex1 {
  flex: 1
}
