.filterCard {
  display: flex;
  align-items: center;
  column-gap: 24px;

  padding: 16px;
  margin-bottom: 32px;

  overflow: visible;
}

.searchInput {
  width: 100%;
  max-width: 320px;
}

.switcherContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
  span {
    color: #8b90a0;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}
