@import "@styles/variables"
@import "@styles/breakpoints"

.card
  margin-bottom: 24px

.flex
  display: block

.header
  display: flex
  align-items: center
  justify-content: space-between

.footer
  margin-top: 0px
  display: flex
  align-items: flex-start
  justify-content: flex-start
  flex-direction: row
  flex-wrap: wrap

.details
  margin-bottom: 24px
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap

.detailsHeader
  display: flex
  align-items: center
  font-weight: 600
  line-height: 1.7

.detailsValue
  white-space: nowrap
  font-weight: 600
  line-height: 1.7

.detailsBlock
  width: 50%
  margin-bottom: 8px
  &:not(:last-child)
    margin-right: 0px
  &:nth-child(2) 
    order: 1
  &:nth-child(5) 
    order: 2
  &:nth-child(3) 
    order: 3
  &:nth-child(6) 
    order: 4
  &:nth-child(4) 
    order: 5
  &:nth-child(7) 
    order: 6

.tokens
  display: flex
  align-items: center

.title
  margin-left: 16px

.row
  width: 100%
  display: flex
  justify-content: flex-start

.multiplierWrap
  margin-top: 24px
  margin-bottom: 24px
  padding: 2px

.farmingDigits
  font-size: 1rem

.multiplier
  font-size: 1.714rem
  line-height: 1.33
  font-weight: 600

.links
  order: 8
  align-items: flex-start
  width: 100%
  flex-wrap: wrap
  margin-top: 24px

.link
  width: 50%
  &:not(:last-child)
    margin-right: 0px
  &:nth-child(1),
  &:nth-child(2)
    margin-bottom: 24px

.content
  padding: 24px

.reward
  margin-bottom: 24px
  display: flex
  justify-content: space-between
  padding: 32px 24px
  border-radius: 8px
  align-items: center
  margin-bottom: 24px

.rewardHeader
  display: flex
  flex-direction: column

.rewardAmount, .amount
  font-size: 1.143rem
  line-height: 1.5

.rewardCurrency
  margin-left: 8px

.item
  display: flex
  flex-direction: column
  align-items: center
  &:not(:last-child)
    margin-bottom: 16px

.button
  order: 9
  width: 100%
  max-width: 100%
  margin-top: 40px

.apyIcon
  margin-left: -2px

.dollar
  &:before
    content: '$'
    display: inline-block
    margin-right: 4px
    color: $text-02

.light
  .detailsValue
    color: $text-01
  .multiplier
    color: $text-01
  .reward
    border: 2px dashed $hover-primary-01-fallback
    color: $text-01
  .amount
    color: $text-01

.dark
  .detailsValue
    color: $text-inverse
  .multiplier
    color: $text-inverse
  .reward
    border: 2px dashed $hover-primary-02-fallback
    color: $text-inverse
  .amount
    color: $text-inverse


.onlyMobile
  display: flex !important

.onlyDesktop
  display: none !important



@include media('>phone')
  .button
    width: 100%
    max-width: 100%
  .rewardAmount
    font-size: 1.714rem

@include media('>Lphone', '<=Ltablet')
  .rewardAmount
    font-size: 2.286rem

@include media('>Lphone')
  .rewardContent
    margin-right: 32px
  .amount
    font-size: 1.429rem
  .detailsBlock
    width: calc(100% / 3)
  .link
    width: 25%

@include media('>Ltablet')
  .card
    margin-bottom: 32px
  .onlyMobile
    display: none !important
  .onlyDesktop
    display: flex !important
  .row
    width: auto
  .multiplierWrap
    margin-top: 0px
    margin-bottom: 0px
  .links
    width: auto
    flex-wrap: nowrap
  .link
    width: auto
    margin-bottom: 24px
    &:not(:last-child)
      margin-right: 24px
  .detailsBlock
    width: auto
    margin-bottom: 0px
    &:nth-child(2) 
      order: 1
    &:nth-child(3) 
      order: 2
    &:nth-child(4) 
      order: 3
    &:nth-child(5) 
      order: 4
    &:nth-child(6) 
      order: 5
    &:nth-child(7) 
      order: 6
    &:not(:last-child)
      margin-right: 24px
  .details
    margin-bottom: 0px
    width: auto
    display: flex
    align-items: center
    flex-wrap: nowrap
  .flex
    display: flex
    align-items: center
  .reward
    margin-bottom: 0px
    margin-right: 32px
  .item
    align-items: flex-start
    &:not(:last-child)
      margin-bottom: 0px
  .rewardAmount
    font-size: 1.714rem
  .amount
    font-size: 1.429rem
  .button
    width: 160px
    margin-top: auto
  .footer
    flex-direction: row
    margin-top: 32px
    display: flex
    align-items: center
    justify-content: space-between

@include media('>desktop')
  .header
    text-align: left
  .rewardAmount
    font-size: 2.286rem
  .amount
    font-size: 1.714rem
    line-height: 1.33
  .button
    width: 160px
    margin-top: auto