@import "@styles/_variables";
@import "@styles/_breakpoints";

.dollarEquivalent {
  display: flex;
  align-items: center;
  font-size: 0.857rem;
  font-weight: 400;
  line-height: 1.33;
}
.dollarEquivalentInner {
  margin-left: 4px;
  transition: color $colorChangeAnimationTime;
}
.light {
  .dollarEquivalentInner {
    color: $text-01;
  }
}
.dark {
  .dollarEquivalentInner {
    color: $text-inverse;
  }
}
