@import "@styles/_variables"

.root
  display: flex
  flex-direction: column

.link
  display: flex
  align-items: center
  padding: 0 16px
  height: 40px
  width: 100%
  position: relative
  font-weight: 600
  font-size: 1rem
  transition: background-color $animationTime
  &:not(.active)
    .icon
      defs
        display: none
      path
        stroke: $text-03
  &.active
    &::before
     content: ''
     width: 4px
     height: 36px
     position: absolute
     left: 0
     top: 2px

.icon
  margin-right: 8px

.linksInner
  display: flex
  flex-direction: column
  max-height: 0
  overflow: hidden
  transition: max-height $animationTime

.linkToggle
  position: relative
  cursor: pointer
  &::after
    content: ''
    position: absolute
    right: 20px
    top: 50%
    transform: translateY(-50%)
    transition: transform $animationTime
    border-bottom: 0 solid transparent
    border-right: 5px solid transparent
    border-left: 5px solid transparent
    border-top: 5px solid $text-03

.linkInner
  height: 40px
  min-height: 40px
  display: flex
  align-items: center
  padding-left: 48px
  font-weight: 600

.menuOpened
  .linkToggle
    &::after
      transform: translateY(-50%) rotate(180deg)
  .linksInner
    max-height: 360px

.light
  color: $text-01
  &:not(.active)
    &:hover, &:focus
      background-color: $hover-light-row
  &.active
    &::before
      background: $brand-01

.dark
  color: $text-inverse
  &:not(.active)
    &:hover, &:focus
      background-color: $hover-dark-row
  &.active
    &::before
      background: $brand-02