@import '@styles/variables';

.root {
  display: flex;
  align-items: center;
  column-gap: 8px;

  width: fit-content;
  height: 24px;
  border-radius: 8px;

  overflow: hidden;
  border: 1px solid transparent;
}

.button {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  width: fit-content;
  min-height: 24px;
  height: 100%;
  padding: 4px;
  border-radius: 6px;
}

.light {
  &.root {
    background: linear-gradient($ui-01, $ui-01) padding-box, $brand-01 border-box;
  }
}

.dark {
  &.root {
    background: linear-gradient($ui-07, $ui-07) padding-box, $brand-02 border-box;
  }
}
