@import "@styles/variables"
@import "@styles/breakpoints"

.root
  width: 100%
  height: calc(var(--vh, 1vh) * 100)
  background-color: $ui-01
  overflow: auto
  display: flex
  flex-direction: column
  padding-top: 80px
  justify-content: space-between

.footer
  display: flex
  justify-content: space-between
  padding: 16px 24px

.light
  background-color: $ui-01

.dark
  background-color: $ui-06

@include media('>SDesktop')
  .root
    display: none