@import "@styles/variables"
@import "@styles/breakpoints"

.span
  color: $text-03

.label
  font-size: 1.143rem
  font-weight: 600
  line-height: 1.5

.light
  &.label
    color: $text-01

.dark
  &.label
    color: $text-inverse

@include media('>Lphone')
  .label
    font-size: 1.429rem


@include media('>Ltablet')
  .label
    font-size: 1.429rem

@include media('>desktop')
  .label
    font-size: 1.714rem
    line-height: 1.33