@import "@styles/variables"
@import "@styles/breakpoints"

.penIcon
  margin-left: 8px

.modalButton
  display: flex
  align-items: center

.modalInput:not(:last-child)
  margin-bottom: 16px

.tokenid 
  display: flex
  flex-direction: column