@import "@styles/variables";
@import "@styles/text";
@import "@styles/breakpoints";

.item {
  height: 64px;
  padding: 0 24px;

  display: flex;
  align-items: center;
  column-gap: 8px;

  .buttons {
    visibility: hidden;
  }

  &:hover {
    background-color: $hover-dark-row;
    .button {
      visibility: visible;
    }
  }
}

.tokenDescription {
  margin-left: 8px;
  // TODO
  width: 200px;
}

.tokenSymbol {
  font-size: 1.5rem;
  font-weight: normal;

  @include ellipsis;
}

.tokenName {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;


  color: $text-03;
  @include ellipsis;
}

.balance {
}

.amountClassName {
  font-size: 1.5rem;
  font-weight: normal;
}

.labels {
  width: 160px;
  display: flex;
}

.buttonsBlock, .buttons {
  display: flex;
  column-gap: 8px;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.button {
  width: auto;
}
