@import "@styles/variables"

.root
  position: relative
  display: flex
  align-items: center
  justify-content: start
  padding: 0 16px
  height: 40px
  width: 100%
  &.active
    &::before
     content: ''
     width: 4px
     height: 36px
     position: absolute
     left: 0
     top: 2px
     background: $hover-primary-01

.dark
  &.active
    &::before
     background: $hover-primary-02

.icon
  defs
    display: none
  &.light
    path
      stroke: $hover-primary-01
  &.dark
    path
      stroke: $hover-primary-02

.text
  margin-left: 8px
