@import '@styles/variables'
@import '@styles/breakpoints'

.root
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  padding-top: 64px

.mainWrapper
  flex: 1
  padding: 24px

.light.mainWrapper
  background: top center url('/images/bg-white.png') repeat-x
  background-size: 75%

.dark.mainWrapper
  background: top center url('/images/bg-dark.png') repeat-x
  background-size: 75%

@include media('>SDesktop')
  .root
    flex-direction: row
  .wrapper
    width: calc(100% - 200px)
    max-width: 1236px
    padding: 24px 32px 32px
    margin: 0 auto
