@import '@styles/variables'
@import '@styles/breakpoints'

.root
  position: relative
  display: flex
  flex-direction: column
  justify-content: space-between
  width: 100%
  padding-top: 64px

.wrapper
  padding: 24px

.background
  display: none
  position: fixed
  left: 0
  top: 0px
  z-index: -1

@include media('>tablet')
  .background
    display: block
    left: 0

@include media('>SDesktop')
  .root
    flex-direction: row
  .wrapper
    width: calc(100% - 200px)
    max-width: 1236px
    padding: 24px 32px 32px
    margin: 0 auto
  .background
    display: block
    left: calc(50% + 200px)
    transform: translateX(calc(-50% - 100px))
