@import '@styles/breakpoints'

.root
  position: relative
  padding-top: 64px

.background
  position: fixed
  left: -37px
  top: 64px
  z-index: -1

.sidebar
  margin-top: 64px
  display: none

@include media('>desktop')
  .background
    left: 50%
    transform: translateX(-50%)

@include media('>tablet')
  .sidebar
    display: block
