@import "@styles/variables";
@import "@styles/breakpoints";

.vertical {
  display: flex;
  row-gap: 6px;
  margin-bottom: 12px;
}
@include media('>=tablet') {
  .stakeDetailsButtons {
    flex-direction: row;
    column-gap: 16px;
  }
}
@include media('<tablet') {
  .stakeDetailsButtons {
    .stakeDetailsButton:not(:first-child) {
      margin-top: 8px;
    }
  }
}