@import "@styles/breakpoints"
@import "@styles/variables"

.root
  position: relative

.button
  text-transform: uppercase
  padding: 20px 8px
  padding-right: 24px
  margin: 0 -4px
  font-weight: 600
  position: relative
  transition: color $colorChangeAnimationTime
  font-size: 1rem
  &::after
    content: ''
    position: absolute
    top: 24px
    right: 11px
    border-top: 0 solid transparent
    border-right: 5px solid transparent
    border-left: 5px solid transparent
    transition: transform $animationTime, border-color $colorChangeAnimationTime

.locales
  display: flex
  flex-direction: column
  padding: 8px 0
  border-radius: 8px
  box-shadow: $elevation-03
  position: absolute
  right: 0
  bottom: 100%
  visibility: hidden
  opacity: 0
  transition: visibility $animationTime, opacity $animationTime, background-color $colorChangeAnimationTime

.locale
  text-transform: uppercase
  font-weight: 600
  width: 96px
  line-height: 32px
  padding: 0 16px
  display: block
  align-items: center
  transition: background-color $animationTime

.opened
  .button
    &::after
      transform: rotate(-180deg)
  .locales
    visibility: visible
    opacity: 1

.bottom
  .button
    padding-top: 12px
    padding-bottom: 12px
    &::after
      top: 18px
  &.opened
    .button
      &::after
        transform: rotate(180deg)
  .locales
    bottom: auto
    top: 100%
    right: auto
    left: -15px

// Color themes
.light
  .button
    color: $text-01
    &::after
      border-bottom: 5px solid $text-01
  .locales
    background-color: $ui-01
  .locale
    &:hover, &:focus
      background-color: $hover-light-row
  .active
    color: $hover-primary-01-fallback
    background: $brand-01
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &.bottom
    .button
      &::after
        border-bottom: 0 solid transparent
        border-top: 5px solid $text-01

.dark
  .button
    color: $text-inverse
    &::after
      border-bottom: 5px solid $text-inverse
  .locales
    background-color: $ui-07
  .locale
    &:hover, &:focus
      background-color: $hover-dark-row
  .active
    color: $hover-primary-02-fallback
    background: $brand-02
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
  &.bottom
    .button
      &::after
        border-bottom: 0 solid transparent
        border-top: 5px solid $text-inverse