@import "@styles/variables"
@import "@styles/breakpoints"

.govGroup
  display: flex
  align-items: center
  order: -1
  justify-content: space-between
  width: 100%
  
.proposal
  .proposalInfo
    flex: 1
  .proposalDetails
    width: 424px

.proposalHeader
  display: flex
  align-items: center
  justify-content: space-between

.proposalBackIcon
  margin-right: 8px
  
.tabContent
  padding: 0px 24px

.govHeaderWrapper
  padding: 24px

.proposalHeader
  font-size: 1.143rem
  line-height: 1.5
  font-weight: 600

.govHeader
  width: 100%
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.govDates
  flex: 50%
  font-size: 1rem
  color: $text-03

.govContent
  padding: 24px
  display: flex
  flex-direction: column

.govBody
  font-size: 1.143rem
  
.fullWidth
  width: 100% !important

.govName
  flex: 100%

.govBage
  color: $text-03

.mb24
  margin-bottom: 24px

.mb24i
  margin-bottom: 24px !important

.govDescription
  margin-bottom: 24px

.govButton
  display: none

.govBlockHeader
  font-size: 1rem
  margin-bottom: 8px
  color: $text-03
  font-weight: 600

.govBlockLabel
  font-size: 1.286rem
  font-weight: bold

.govBlock
  margin-bottom: 16px

.govBlockSpan
  color: $text-03

.govButtonButtom
  max-width: inherit
  width: 100%


.light
  .proposalHeader
    color: $text-01
  .govDescription
    color: $text-02
  .govBlockLabel
    color: $text-01

.dark
  .proposalHeader
    color: $text-inverse
  .govDescription
    color: $text-03
  .govBlockLabel
    color: $text-inverse


@include media('>Ltablet')
  .govBlocks
    display: flex
    justify-content: space-between
  .govBlock
    margin-bottom: 0px
  .govButton
    display: block
    max-width: 180px
  .govButtonButtom
    display: none
  .govGroup
    justify-content: flex-start
    width: auto
    order: 1
  .govDates
    flex: initial
    font-size: 1.143rem
  .govBage
    flex: initial
    margin-left: 16px
  .govName
    margin-right: 16px
    flex: initial
  .govHeader
    width: inherit
    display: flex
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap