@import "@styles/variables"
@import "@styles/breakpoints"

  
.tabContent
  padding: 0px 24px

.govHeaderWrapper
  padding: 24px

.govHeader
  display: flex

.govDates
  margin-left: 16px
  color: $text-03

.govContent
  padding: 24px
  display: flex
  flex-direction: column

.govBody
  font-size: 1.143rem
  
.fullWidth
  width: 100% !important

.govBage
  margin-left: 16px
  color: $text-03

.mb24
  margin-bottom: 24px

.mb24i
  margin-bottom: 24px !important

.govDescription
  margin-bottom: 24px

.govButton
  max-width: 180px

.govBlocks
  display: flex
  justify-content: space-between

.govBlockHeader
  margin-bottom: 8px
  color: $text-03
  font-weight: 600

.govBlockLabel
  font-size: 1.286rem
  font-weight: bold

.govBlockSpan
  color: $text-03


.light
  .govDescription
    color: $text-02
  .govBlockLabel
    color: $text-01

.dark
  .govDescription
    color: $text-03
  .govBlockLabel
    color: $text-inverse