@import "@styles/variables"
@import "@styles/breakpoints"

.root
  padding: 24px
  border-radius: 8px
  box-shadow: $elevation-03
  display: flex
  flex-direction: column

.pair
  margin-bottom: 40px

.item
  display: flex
  flex-direction: column
  margin-bottom: 24px

.header
  display: flex
  align-items: center
  font-weight: 400
  color: $text-03 !important
  font-size: 0.857rem
  line-height: 1.33

.buttons
  display: flex
  flex-direction: column
  margin-top: 16px

.button
  max-width: 280px
  &:not(:last-child)
    margin-bottom: 16px

.light
  background-color: $ui-01

.dark
  background-color: $ui-07

@include media('>Ltablet')
  .root
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    box-shadow: none
    border-radius: 0
    background-color: transparent
  .pair
    margin-bottom: 0
  .item
    margin-bottom: 0
  .buttons
    flex-direction: row
    align-items: center
    margin-top: 0
  .button
    width: 120px
    &:not(:last-child)
      margin-bottom: 0
      margin-right: 24px