@import '@styles/breakpoints';

.root {
  max-width: 424px;
}

.contentClassName,
.modalClassName {
  overflow-y: auto;
  padding: 0;
}

.img {
  height: 327px;
  width: 327px;
}

.bottomContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;

  span {
    font-weight: 600;
  }
}

.button {
  margin-top: 16px;
}

@include media('>tablet') {
  .h4 {
    font-size: 1.714rem;
    line-height: 1.333;
  }
  .img {
    height: 424px;
    width: 424px;
  }
}
