@import "@styles/_breakpoints.scss";
@import "@styles/_variables.scss";

.headerContent {
  display: flex;
  align-items: center;
  column-gap: 12px;
}

.backArrow {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
  margin-right: 0;
}

.cardContent {
  position: relative;
  padding: 24px;
  display: grid;
  grid-template-columns: 1fr;
}

@include media('>=tablet') {
  .cardContent {
    flex-direction: row;
    gap: 40px;
    justify-content: space-between;
  }

  .twoColumns {
    grid-template-columns: repeat(2, 1fr);
  }

  .threeColumns {
    grid-template-columns: repeat(3, 1fr);
  }
}
