@import "@styles/variables"
@import "@styles/breakpoints"

.wrapper
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 5

.root
  width: 100%
  height: 64px
  transition: background-color $colorChangeAnimationTime, border-color $colorChangeAnimationTime
  z-index: 2
  padding: 0 24px
  display: flex
  align-items: center

.logo
  display: flex
  align-items: center
  font-size: 1.125rem
  font-weight: bold

.logoText
  display: none

.coloModeSwitcher, .languageSwitcher
  display: none

.connect
  display: flex
  align-items: center
  justify-content: center
  margin: 0 auto 0 16px
  max-width: 160px

.menu
  position: absolute
  top: 0
  left: 0
  z-index: -1
  transform: translateY(-100%)
  transition: transform $animationTime, background-color $colorChangeAnimationTime
  &.active
    transform: translateY(0)

.light
  border-bottom: 1px solid $ui-03
  background-color: $ui-02

.dark
  background-color: $ui-06
  border-bottom: 1px solid $ui-07

@include media('>SDesktop')
  .root
    padding: 0 32px 0 16px
  .menuButton, .menu, .connect
    display: none
  .logo
    margin-right: auto
  .logoText
    display: block
    font-size: 1.286rem
    transition: color $colorChangeAnimationTime
  .coloModeSwitcher
    margin-left: 40px
  .languageSwitcher, .coloModeSwitcher
    display: flex
  .light
    .logoText
      color: $ui-07
  .dark
    .logo
      color: $ui-01