@import "@styles/variables"
@import "@styles/breakpoints"

.mobile
  display: block

.notMobile
  display: none

.cards
  margin-bottom: 16px

.card
  &:not(:last-child)
    margin-bottom: 16px

.button
  padding: 12px
  min-height: 40px
  max-width: 327px
  margin-left: auto
  margin-right: auto
  display: block

@include media('>tablet')
  .mobile
    display: none
  .notMobile
    display: block

@include media('>Ltablet')
  .cards
    border-radius: 8px
    box-shadow: $elevation-03
    margin-bottom: 32px
  .card
    &:not(:last-child)
      margin-bottom: 0
  .light
    background-color: $ui-01
    .card
      &:not(:last-child)
        border-bottom: 1px solid $ui-03
  .dark
    background-color: $ui-07
    .card
      &:not(:last-child)
        border-bottom: 1px solid $ui-06