@import '@styles/variables';
@import '@styles/breakpoints';

.dashboardStatsInfoMB {
  margin-bottom: 64px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
