@import "@styles/_variables";
@import "@styles/_breakpoints";

.bakerIcon {
  width: 24px;
  height: 24px;
}

.caption {
  font-family: $font;
  font-style: normal;
  font-weight: normal;
  font-size: 0.857rem;
  line-height: 1.33;
  color: $text-03;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.bakerName {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.listItem {
  position: relative;
  padding: 12px 24px;
  transition: background-color $animationTime;
  outline: none;
  cursor: pointer;
}

.bakerCell {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bakerFlexCell {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.h6 {
  margin-left: 8px;
}

.bakerBlock {
  display: block;
  &:not(:last-child) {
    margin-right: 24px;
  }
}

.bodyTextLink1 {
  font-weight: bold;
}

.label1 {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.33;
}

.light {
  &:not(:last-child) {
    border-bottom: 1px solid $ui-03;
  }
  &:hover,
  &:focus {
    background-color: $hover-light-row;
  }
}

.dark {
  &:not(:last-child) {
    border-bottom: 1px solid $ui-06;
  }
  &:hover,
  &:focus {
    background-color: $hover-dark-row;
  }
  .label1 {
    color: $text-inverse;
  }
}
