@import "../../../styles/_variables"
@import "../../../styles/breakpoints"

.addr
  font-weight: 600
  color: $text-03
  font-size: 1.125rem
  line-height: 1.5

.modal
  padding: 16px 24px 24px

.button
  margin-top: 40px
  background: $support-error !important

.row
  display: flex
  align-items: center
  justify-content: space-between

.buttonCopy
  display: flex
  align-items: center

.icon
  margin-right: 8px

.light
  .button
    color: $text-01

.dark
  .button
    color: $text-inverse


@include media('>tablet')
  .button
    max-width: none