@import "@styles/variables";
@import "@styles/breakpoints";

.reward {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
  width: 100%;
  max-width: 432px;
  border-radius: 8px;
}

.title,
.amount {
  font-weight: 600;
}

.title {
  font-size: 1rem;
  line-height: 1.143;
}

.amount {
  font-size: 1.143rem;
  line-height: 1.5;
}

.light {
  &.reward {
    border: 2px dashed $hover-primary-01-fallback;
    color: $text-01;
  }

  .title {
    color: $text-02;
  }
}

.dark {
  &.reward {
    border: 2px dashed $hover-primary-02-fallback;
    color: $text-inverse;
  }

  .title {
    color: $text-03;
  }
}

@include media(">SDesktop") {
  .reward {
    margin-bottom: 0;
  }

  .amount {
    font-size: 2.286rem;
  }
}

