@import '@styles/variables';
@import '@styles/breakpoints';

.root, .rootWithRightColumn {
  display: flex;
  padding: 0;
}

.root {
  flex-direction: column;

  .light {
    border-top: .5px solid $ui-03;
  }

  .dark {
    border-top: .5px solid $ui-06;
  }
}

.rootWithRightColumn {
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;

  & > :nth-child(n) > :nth-child(n) {
    align-items: flex-start;
  }

  .flexEndRightElement {
    & > :nth-child(n) {
      align-items: flex-end;
    }
  }
}

.rootCard {
  min-width: 320px;
}

.card {
  flex-basis: 100%;
  flex-shrink: 0;
}

.rightCard {
  flex-basis: 50%;
}

@include media(">Lphone") {
  .root {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .light {
    border: .5px solid $ui-03;
  }

  .dark {
    border: .5px solid $ui-06;
  }

  .rootWithRightColumn {
    & > :nth-child(n) > :nth-child(n) {
      align-items: center;
    }
  }

  .card {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}
