@import "@styles/variables"
@import "@styles/breakpoints"

.light
  .primary, .secondary
    background-color: $ui-01

.dark
  .primary, .secondary
    background-color: $ui-07

.wrapper
  border-radius: 8px
  box-shadow: 0px 4px 8px rgb(0 0 0 / 10%)

.primary, .secondary
  display: flex
  align-items: center
  justify-content: space-around
  flex-wrap: wrap
  flex-direction: column
  border-radius: 8px
  
@include media('>Ltablet')
  .primary
    flex-direction: row
  .secondary
    flex-direction: row
      

