@import "@styles/variables"
@import "@styles/breakpoints"

.content
  display: grid
  align-items: center
  justify-items: stretch
  grid-template-columns: 1fr
  grid-column: 1 / 2

.row
  display: grid
  justify-content: space-around
  grid-template-columns: 1fr
  grid-column: 1 / 2

@include media('>Ltablet')
  .content
    grid-column: 1 / 1
  .row
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr 1fr
    grid-column: 1 / 3

@include media('>desktop')
  .row
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 1fr

