@import "../../../styles/_variables";
@import "../../../styles/_breakpoints";

.root {
  display: flex;
  position: relative;
}

.image {
  position: relative;
  object-fit: contain;
  border-radius: 50%;
  height: 24px;
  width: 24px;
}
