@import "@styles/variables"
@import "@styles/breakpoints"

.popupCell
  min-width: 327px
  display: flex
  align-items: center
  justify-content: space-between

.tokenCell
  height: 64px
  display: flex
  align-items: center
  justify-content: space-between
  &>div
    margin-left: 8px
  &>div:first-child
    margin: 0px

.positionCell
  height: 64px
  width: 100%

.swapCell
  flex: 1
  display: flex
  flex-direction: column
  align-items: flex-start
  &>div
    display: flex
    align-items: center
    &>span
      margin-left: 8px
    &>span:first-child
      margin: 0px

.bakerCell
  height: 106px
  flex: 1
  display: flex
  flex-direction: column
  align-items: flex-start

.bakerFlexCell 
  margin-bottom: 8px
  display: flex
  align-items: center
  h6
    margin-left: 8px
  &:last-child
    margin-bottom: 0px

.bakerBlock 
  display: block
  margin-right: 24px
  &:last-child
    margin-right: 0px

.positionBlockCell
  height: 32px
  max-height: 32px
  display: flex
  align-items: center
  h6 
    margin-left: 8px
  
.positionFlexCell
  height: 32px
  max-height: 32px
  display: flex
  align-items: center
  
  &>div
    margin-left: 24px
  &>div:first-child
    margin: 0px

.tokenGroup
  &>svg:last-child
    margin-left: -16px

.bodyTextLink1
  font-weight: bold

.label1 
  font-style: normal
  font-weight: 600
  font-size: 14px
  line-height: 16px

.swapLabel
  color: $text-02
  
.swapLink
  font-weight: 600
  cursor: pointer

.light
  .label1
    color: #232735
  .swapLink
    text-decoration-color: $hover-primary-01-fallback
    text-decoration-line: underline
    text-decoration-style: solid
    text-decoration-thickness: auto
    background: $hover-primary-01
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.dark
  .label1
    color: #FFFFFF
  .swapLink
    text-decoration-color: $hover-primary-02-fallback
    text-decoration-line: underline
    text-decoration-style: solid
    text-decoration-thickness: auto
    background: $hover-primary-02
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent