@import "@styles/variables";
@import "@styles/breakpoints";

h1.pageTitle {
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 1.33;
  font-weight: 600;
}

.light {
  .pageTitle {
    color: $text-01;
  }
}

.dark {
  .pageTitle {
    color: $text-inverse;
  }
}

@include media('>SDesktop') {
  .pageTitle {
    margin-bottom: 32px;
    font-size: 3.143rem;
    font-weight: 600;
    line-height: 1.455;
  }
}
