@import '@styles/variables';
@import '@styles/breakpoints';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 64px;
}

.sidebar {
  min-width: 200px;
}

.mainWrapper {
  flex: 1;
  padding: 0 24px;
}

.mainWrapper {
  position: relative;
  z-index: 1;
}

.mainWrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .1;
  z-index: -1;
}

.light.mainWrapper::before {
  background: top center url('../images/bg-white.png') repeat-x;
  background-size: 75%;
}

.dark.mainWrapper::before {
  background: top center url('../images/bg-dark.png') repeat-x;
  background-size: 75%;
}

@include media('>tablet') {
  .wrapper {
    min-height: calc(100vh - 64px);
  }
}

@include media('>SDesktop') {
  .root {
    flex-direction: row;
  }
  .mainWrapper {
    width: calc(100% - 200px)
  }
  .wrapper {
    max-width: 1236px;
    padding: 24px 32px 32px;
    margin: 0 auto;
  }
}
