@import "@styles/variables"
@import "@styles/breakpoints"

.header
  display: flex
  align-items: center
  font-weight: 600

.item
  display: flex
  flex-direction: column

.light
  .value
    color: $text-01

.dark
  .value
    color: $text-inverse

.value
  margin-top: 8px
  font-weight: 600
  font-size: 1.143rem
  line-height: 1.5

.dash
  margin-top: 8px

@include media('>Lphone')
  .value
    font-size: 1.429rem

@include media('>desktop')
  .value
    font-size: 1.714rem
    line-height: 1.33
