@import "@styles/variables";
@import "@styles/breakpoints";

$left-offset: -8px;
$logos-quantity: 4;

@mixin create-index-offset($quantity) {
  @for $index from 2 through $quantity {
    & img:nth-child(#{$index}),
    & svg:nth-child(#{$index}) {
      margin-left: $left-offset;
    }
  }
}

.root {
  display: flex;
  @include create-index-offset($logos-quantity);
}
