@import "@styles/variables"
@import "@styles/breakpoints"
  
.root
  margin: 0px 16px 16px 0px

.content
  padding: 0px

.uncenter
  \:global(.slick-dots)
    display: flex !important

@include media('>phone')
  .root
    margin: 0px 32px 16px 0px