@import "@styles/variables"
@import "@styles/breakpoints"
  
.cardCellSmall
  width: 100%
  padding: 12px 20px

.cardCell
  width: 100%
  padding: 20px 24px
  display: flex

.links
  display: flex
  align-items: center

.h1
  margin-bottom: 40px
  margin-top: 64px

.proposalHeader
  display: flex
  align-items: center
  justify-content: space-between
  font-size: 1.143rem
  line-height: 1.5
  font-weight: 600

.proposalBackIcon
  margin-right: 8px
  
.forward
  transform: rotate(180deg)

.footer
  display: flex
  align-items: center
  justify-content: center

.pagination
  display: flex
  margin: 0px 16px